{% extends 'base.html' %}

{% block title %}Article{% endblock %}

{% block content %}

{% load static %}

  
  {% block entrypoint %}
      <script type="text/javascript" data-main="{% static 'src/js/article_editor.js' %}" src="{% static 'src/js/lib/require.js'%}"></script>
  {% endblock %}

<div id="login-box">
  <div class="left">
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
          {{ form.article_title.errors }}
          <label for="{{ form.article_title.id_for_label }}">Title</label>
          {{ form.article_title }}
      </div>
      <div class="fieldWrapper">
          {{ form.article_image.errors }}
          <label for="{{ form.article_image.id_for_label }}">Image</label>
          {{ form.article_image }}
      </div>
      <div class="fieldWrapper">
          {{ form.article_category.errors }}
          <label for="{{ form.article_category.id_for_label }}">Category</label>
          {{ form.article_category }}
      </div>
      <div class="fieldWrapper">
          {{ form.article_subcategory.errors }}
          <label for="{{ form.article_subcategory.id_for_label }}">Sub Category</label>
          {{ form.article_subcategory }}
      </div>
      <div class="fieldWrapper">
          {{ form.tags.errors }}
          <label for="{{ form.tags.id_for_label }}">Keywords</label>
          {{ form.tags }}
      </div>
      <input type="submit" name="signup_submit" value="save">
      <input type="submit" name="signup_submit" value="submit">
      
  </div>
  <div class="right">
    <div class="fieldWrapper">
        {{ form.article_content.errors }}
        <label class="id_article_content" for="{{ form.article_content.id_for_label }}">Article Body</label>
        {{ form.article_content }}
    </div>
  </div>
</form>
  <div class="or"></div>
</div>
{% load static %}
<script data-main="{% static 'src/js/article' %}" src="{%static '/src/js/lib/require.js' %}"></script>
<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 20px 20px;;
  height: 676px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}
.id_article_content {text-align: left;}
input[type="text"], input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

select:focus, input[type="text"]:focus, input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  display: inline-block;
  margin-top: 28px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  padding: 6px;
  margin-right: 18px;
  min-width: 88px;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
    top: 9px;
    left: 280px;
    height: 96%;
    background: #DDD;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #c0b9b9;
}

.right {
  position: absolute;
  top: 0;
  left: 310px;
  box-sizing: border-box;
  padding: 15px;
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}
</style>
{% endblock%}
