<!-- django template  -->
{% extends 'base.html' %}
{% block title %}
    lifeinabits| {{article.article_title}}
{% endblock %}

{% load static %}
{% block links %}
    <link href="{% static 'src/css/article.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'src/slick/slick.css'%}" >
    <link rel="stylesheet" type="text/css" href="{% static 'src/slick/slick-theme.css'%}" >
{% endblock %}

{% block container %}
<div class="blog-banner" style="background-image: url({{article.get_article_image}}); background-size: cover; background-attachment: fixed;">
    <div class="article-meta ltylw col-md-push-1">
        <h1 class="yl roboto-thin">{{article.article_title}}</h1>
        <p class="white left abel">
            <i class="fa fa-calendar"></i> {{article.created}}
        </p>
    </div>
        
</div>
<div class="container-wrapper">
    <div class="four-six roboto">
        <div class="social-comments center">
            {% load comments %}
            {% get_comment_count for article as comment_count %}
            <ul>
                <li class="flex">
                    <a href="#" class="btn btn-success" id="article-like">                
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </a>
                   <span>{{article.count_likes}} <div class="arrow-left"></div></span>
                </li>
                <li class="flex">
                    <a href="#disqus_thread" class="btn btn-success">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </a>
                    <span>{{comment_count}} <div class="arrow-left"></div> </span>
                </li>
                <li class="flex">
                   <a href="#" class="btn btn-success">
                       <i class="fa fa-eye" aria-hidden="true"></i>
                   </a>
                   <span> 20  <div class="arrow-left"></div></span>
                </li>
            </ul>
        </div>
        {% autoescape off %}
           {{article.article_content}}
        {% endautoescape %}
        <div class="social-share-article">
            <ul>
                <li class="center facebook"><a class="share-post-link">facebook</a></li>
                <li class="center google"><a class="share-post-link">Google</a></li>
                <li class="center twitter"><a class="share-post-link">Twitter</a></li>
                <li class="center linkedin"><a class="share-post-link">linkedIn</a></li>
            </ul>
        </div>
        <hr>
        <div id="disqus_thread">
            {% load comments %}
            <div class="comment-list">
            {% get_comment_list for article as comments %}
                <div class="comments-container">
                <h3>Comments <a href="http://lifeinabits.com">Lifeinabits</a></h3>
                {% for comment in comments %}
                    {% include 'comment.html'%}
                {% empty %}
                    <p>No Comments Yet! Be the First to comment</p>
                {% endfor %}
                </div>
            </div>
            <hr>
           <div class="comment-form">
                {% if user.is_authenticated %}
                    {% get_comment_form for article as form %}
                    <h4>Leave a Reply</h4>
                    <form action="{% comment_form_target %}" method="POST">
                    {% csrf_token %}
                    {{ form.honeypot }}
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <textarea class="form-control" cols="40" id="id_comment" maxlength="3000" name="comment" rows="2" required=""></textarea>
                    <input type="hidden" name="next" value="{% url 'article' article.id %}" />
                    <input class="btn btn-success" type="submit" value="Comment" id="id_submit" />
                    </form>
                {% else %}
                    <div class="alert alert-danger alert-dismissable">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <strong>Alert !</strong> Anonymouse comments are not notified to the author <a href="{% url 'login' %}">Login to get quick reply</a>
                    </div>
                    <div class="anonymouse-comment">
                        {% get_comment_form for article as comment_form %}
                    <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                         <fieldset>
                             <legend>leave a reply</legend>
                        {{ comment_form}}
                        <tr>
                            <td colspan="2">
                                <input type="submit" name="submit" value="Post">
                                <input type="submit" name="preview" value="Preview">
                            </td>
                        </tr>
                         </fieldset>
                    </form>
                    </div>
                {% endif %}
           </div>
        </div>
        <!--<hr style="border-top: 1px solid #f6d339;">-->
        {% if related_articles %}
            <div class="back-color-holder">
            <h4 class="interested  barlow">Related Posts</h4>
            <div class="slides-container slick-slides">
            {% for article in related_articles %}
                <div class="related-article col-md-3">
                    <span class="badge badge-default">{{article.article_subcategory}}</span>
                    <div class="slide-image-wrapper">
                        <a href="{% url 'article' pk=article.id %}">
                            <img data-lazy="{{article.get_article_image}}" />
                        </a>
                    </div>
                    <div class="slic-article-meta">
                        <h4 class="article-meta">{{article.article_title|truncatechars:45}}</h4>
                        <span class="created-meta"><i class="fa fa-calendar-o"></i>  {{article.created}}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
            </div>
        {% endif %}
    </div>
    <div class="two-six">
        <div class="holder">
        <div class="box-title">
            <h2>Author</h2>
        </div>
        <div class="author-post barlow">
            <div class="author-post-wrapper">
                <div class="author-image">
                    <img src="{{article.article_author.userprofile.get_profile_image}}"/>
                </div>
                <div class="author-info">
                    <a href="{% url 'profile' profile_id=article.article_author.userprofile.id %}">
                        <h3 class="name">{{article.article_author.get_full_name}}</h3>
                    </a>
                    <h4>
                    {% autoescape off %}
                        {{article.article_author.userprofile.short_intro}}
                    {% endautoescape %}
                    </h4>
                </div>
            </div>
            <div class="contact ltylw">
                <a href="https://github.com/pam-odoo" rel="me noopener" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/kamalkkk987" rel="me noopener" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/kp9099" rel="me noopener" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                <a href="https://plus.google.com/+Pankajkamani" rel="me noopener" target="_blank" title="Google+"><i class="fa fa-google"></i></a>
             </div>
        </div>
        <div class="box-title">
            <h2 class="barlow">TAGS</h2>
        </div>
        <div class="box tag-box">
            <div class="tags roboto">
                {% for tag, count in popular_tags %}
                <a href="{% url 'tag' tag %}" class="btn btn-primary">
                        {{ tag }} <span class="badge">{{ count }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="box-title">
            <h2>Blog Archives</h2>
        </div>
        <div class="box  archive-box roboto">
        <ul class="root collapsibleList dosis">
          {% for key, value in article_analytics.items %}
            <li>{{key}}
                {% for month, value in value.items %}
                <ul>
                  <li>{{month|date:"M"}} ({{value.count}})
                    <ul>
                    {% for item in value %}
                        <li><i class="fa fa-slack" aria-hidden="true"></i> <a href="/blog/article/{{item.id}}">{{item}}</a></li>
                    {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
        </div>
       <div class="box-title">
            <h2>Recent Posts</h2>
        </div>
        <div class="abel recent">
            <ul class="dosis">
                {% for article in recent %}
                <li class="recent-article">
                    <div class="back-blur-container" style="background-image: url({{article.get_article_image}}); background-size: cover;"></div>
                    <p class="ltylw">
                        <a href="{% url 'article' pk=article.id %}">
                        {{article.article_title | truncatechars:25}}</a>
                    </p>
                    <time>{{article.created}}</time>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="{% static 'src/slick/slick.min.js' %}"></script>
<script src="{%static 'src/js/lib/CollapsibleLists.js' %}"></script>
<script src="{% static 'src/js/article.js' %}"></script>
{% endblock %}