{% extends 'base.html' %}

{% block title %}Article{% endblock %}

{% block container %}
{% block branding %}
        <!--for main branding    -->
{% endblock %}
 <!--{%  include  'navigation.html' with active_page='writer' %}-->
{% load static %}
<link href="{% static 'src/css/article_editore.css' %}" rel="stylesheet" />
<form  action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{form.article_state}}
<input id="url" type="hidden" name="url" value="{{url}}"/>
<div class="topHolder">
    <div class="left-topHolder">
    <h4> <a class="g_vibes" href="{%url 'homepage' %}">Lifeinabits</a></h4>
        <span> > </span>
        <span class="article-title">Post</span>
        {{form.article_title}}
    </div>
    <div class="right-topHolder">
        <span>
          <span>
              <span class="posting-sapn"><img width=30 height=30 src="{{user.userprofile.get_profile_image}}"> Posting as <strong>{{user.get_full_name}}</strong></span>
              <span>
                  <button id="draft" type="submit" class="btn btn-default submit">Draft </button>
                  <button id="preview" type="submit" class="btn btn-default submit">Preview </button>
                  <button id="save" type="submit" class="btn btn-default submit">Save </button>
              </span>
          </span>
        </span>
    </div>
</div>

<!-- editore starts here-->

<div class="editore editore-form">
    <div class="col-md-9 editore-pannel">
        {{ form.article_content }}
    </div>
    <div class="col-md-3 side-pannel barlow">
        <h2>Post Settings</h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Image</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body image-pannel id_article_image">
                        <div class="form-group">
                            <label for="id_article_image">Image</label>
                            {{form.article_image}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Category</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body cat-pannel id_article_category id_article_subcategory">
                        <div class="form-group">
                            <label for="id_article_category">Catagory</label>
                            {{form.article_category}}
                        </div>
                        <div class="form-group">
                            <label for="id_article_subcategory">Sub Catagory</label>
                            {{form.article_subcategory}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Tags</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group id_tags">
                            <label for="id_tags">Tags</label>
                            {{form.tags}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<!-- for popup modal -->
<div class="modal fade" id="article_preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
  </div>
</div>
</div>
  {% load static %}
<script type="text/javascript" data-main="{% static 'src/js/article_editor.js' %}" src="{% static 'src/js/lib/require.js'%}"></script>
{% endblock%}