{% extends 'base.html' %}

    {% block title %}
    Gallery
    {% endblock %}

    {% block entrypoint %}
        {% load static %}
        <script type="text/javascript" data-main="{% static 'src/js/article.js' %}" src="{% static 'src/js/lib/require.js'%}"></script>
    {% endblock %}
    {% block links%}
        {% load static %}
        <link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'src/css/gallery.css' %}">    
    {% endblock %}
    {% block  navbar %}
        {% include 'header_template.html' with active='blog' %}
    {% endblock %}
{% block content%}
<!-- facebook javascript sdk load -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end of face javascriptSDk  -->

<div class="content-wrapper">
    <div class="outerpic-wrapper">
     <div class="box6 section" id="box6">
        <div class="widget HTML" data-version="1" id="HTML11">
        <div class="widget-content">
            <div class="yinks">
                {% for article in articles_json|slice:"0:1" %}
                <div class="yinks_wide left">
                    <div class="thumb overlay">
                        <a href="{% url 'article' pk=article.article.id %}"><img min-width="620" min-height="240" class="alignone" src="{{article.article.get_article_image}}">
                        </a>
                        <div class="featuredPost lastPost">
                            <h2 class="postTitle">
                                <a href="{% url 'article' pk=article.article.id %}">{{article.article.article_title}}</a>
                                {% if article.user_liked is not True %}
                                    <a class="like up" data-id="{{article.article.id}}" href="{% url 'article_likes' pk=article.article.id %}" data-user="{{request.user.id}}"  style="width: 22px;">
                                        <i class="fa fa-thumbs-o-up animated" aria-hidden="true"></i>
                                    </a>
                                {% else %}
                                    <a class="like down" data-id="{{article.article.id}}" href="{% url 'article_likes' pk=article.article.id %}" data-user="{{request.user.id}}"  style="width: 22px;">
                                        <i class="fa fa-thumbs-up animated" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </h2>   
                        </div>
                        <div class="meta-info">
                            <ul class="menu-content">
                                <li>
                                  <a href="#"><i class="fa fa-heart"></i>
                                    {{article.likes}}
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="fa fa-comment-o">
                                    <span class="disqus-comment-count" data-disqus-url="http://127.0.0.1:8000/blog/article/{{article.article.id}}#disqus_thread"></span>
                                  </a>
                                </li>
                            </ul>
                        </div>
                        <span class="featuredPostMeta"><a href="#"></a>
                        </span>
                    </div>
                </div>
                {% endfor %}
                <div class="yinks_narrow right">
                    {% for article in articles_json|slice:"2:6" %}
                    <div class="yinks_narrow">
                        <div class="thumb overlay">
                            <a href="{% url 'article' pk=article.article.id %}"><img class="alignright" min-height="100" src="{{article.article.get_article_image}}" width="150">
                            </a>
                            <div class="featuredTitle">
                                <a class=" trim-text" href="{% url 'article' pk=article.article.id %}">{{article.article.article_title}}</a>
                                {% if article.user_liked is not True %}
                                    <a class="thumb-up like up" data-id="{{article.article.id}}" href="{% url 'article_likes' pk=article.article.id %}" data-user="{{request.user.id}}">
                                        <i class="fa fa-thumbs-o-up animated" aria-hidden="true"></i>
                                    </a>
                                {% else %}
                                    <a class="thumb-up like down" data-id="{{article.article.id}}" href="{% url 'article_likes' pk=article.article.id %}" data-user="{{request.user.id}}">
                                        <i class="fa fa-thumbs-up animated" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <!-- article meta info div -->
                            <div class="meta-info meta-info-small">
                                <ul class="menu-content">
                                    <li>
                                  <a href="#"><i class="fa fa-heart"></i>
                                    {{article.likes}}
                                  </a>
                                </li>
                                    <li>
                                      <a href="#" class="fa fa-comment-o">
                                        <span class="disqus-comment-count" data-disqus-url="{% url 'article' pk=article.article.id %}#disqus_thread"></span>
                                      </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="outer-wrapper">
    <div class="main-wrapper">
        <div class="main section" id="main">
            <div class="widget Blog" data-version="1" id="Blog1">
                <div class="blog-posts hfeed">
                    <div class="date-outer">
                        <div class="date-posts">
                             {% for article in articles_json|slice:"6:" %}
                            <div class="post-outer">
                                <div class="post hentry">
                                    <h2 class="post-title entry-title trim-text">{{article.article.article_title}}</h2>
                                    <div class="cutter">
                                        <a href="{% url 'article' pk=article.article.id %}">
                                            <img src="{{article.article.get_article_image}}" alt="blog cover image">
                                        </a>
                                    </div>
                                    <div class="post-header">
                                        <div class="post-header-line-1"></div>
                                    </div>
                                    <div class="post-body entry-content" id="post-body-3748147382944230875">
                                        <h3 class="date-header">{{article.article.created|date:"D"}}, {{article.article.created|date:"M"}}, {{article.article.created.year}} </h3>
                                        <div class="post-snippet">{{article.article.article_description}}</div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    <div class="post-footer">
                                        <div id="viewers">
                                            <div class="readmorecontent"><a href="{% url 'article' pk=article.article.id %}">More »</a>
                                            </div>
                                            <input type="submit" value="{{article.likes}}" class="like_count btn-xs" readonly="true" />
                                            {% if article.user_liked is not True %}
                                                <a class="like up" data-id="{{article.article.id}}" href="{% url 'article_likes' pk=article.article.id %}" data-user="{{request.user.id}}">
                                                    <i class="fa fa-thumbs-o-up animated" aria-hidden="true"></i>
                                                </a>
                                            {% else %}
                                                <a class="like down" data-id="{{article.article.id}}" href="{% url 'article_likes' pk=article.article.id %}" data-user="{{request.user.id}}">
                                                    <i class="fa fa-thumbs-up animated" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                            
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-pager" id="blog-pager">
            <span id="blog-pager-older-link">
                <a class="blog-pager-older-link" id="Blog1_blog-pager-older-link" title="Older Posts">Older Posts</a>
            </span>
            <a class="home-link" href="{% url 'homepage'%}">Home</a>
        </div>
        <div class="clear"></div>
        <div class="blog-feeds"></div>
    </div>
</div>

<!-- sidebar wrapper -->
<div class="sidebar1-wrapper">
<div class="sidebar1 no-items section" id="sidebar1"></div>
</div>
<div class="sidebar-wrapper">
    <div class="sidebar section" id="sidebar">
        <div class="widget HTML" data-version="1" id="HTML2">
            <h2 class="title">Find us at FB </h2>
            <div class="widget-content">
                <div class="fb-page" data-href="https://www.facebook.com/LifeBits-120274515294153/" data-width="314" data-height="314" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/LifeBits-120274515294153/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/LifeBits-120274515294153/">LifeBits</a></blockquote></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="widget PopularPosts" data-version="1" id="PopularPosts1">
            <h2>Popular Posts</h2>
            <div class="widget-content popular-posts">
                <ul>
                    {% for article in articles_json|slice:":2" %}
                    <li>
                        <div class="item-content">
                            <div class="item-thumbnail">
                                <a href="{% url 'article' pk=article.article.id %}" target="_blank">
                                    <img class="item-thumbnail-img" alt="" border="0" src="{{article.article.get_article_image}}" width="190" height="190">
                                </a>
                            </div>
                            <div class="item-title trim-text"><a href="{% url 'article' pk=article.article.id %}">{{article.article.article_title}}</a>
                            </div>
                            <div class="item-snippet">{{article.article.article_description}}</div>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>

            </div>
        </div>
        <div class="widget HTML" data-version="1" id="HTML5">
            <div class="widget-content">
                <img src="//4.bp.blogspot.com/-42SM_IGeiAc/U8p1meZ89MI/AAAAAAAAAks/-GfjAMZyxAk/s1600/300x250.jpg" style="margin-top: 10px;margin-bottom: 8px;">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="crosscol-wrapper" style="text-align:center">
    <div class="crosscol no-items section" id="crosscol"></div>
    <div id="crosscol1-wrapper">
        <div class="crosscol1 section" id="crosscol1">
            <div class="widget HTML" data-version="1" id="HTML6">
                <div class="widget-content">
                    <img src="//2.bp.blogspot.com/-N0rOfgLLhHM/U9UEDnltb4I/AAAAAAAAAvI/0qHZaWPJsTM/s1600/banner728.gif">
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
{{popular_tags}}
{% if article_page.has_other_pages %}
  <nav class="pagination">
    <ul>
    {% if article_page.has_previous %}
      <li><a href="?page={{ article_page.previous_page_number }}">&laquo;</a></li>
    {% else %}
       <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for i in article_page.paginator.page_range %}
      {% if article_page.number == i %}
        <li class="current"><strong>{{i}}</strong></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if article_page.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  </nav>
  {% endif %}
    </div>
    <div class="clear"></div>
  </main>
</div>
<!-- popup html -->
{% include 'pop_animate.html'%}

{% endblock %}
