{% extends 'base.html' %}
  {% load static %}

    {% block title %}
        Gallery
    {% endblock %}

    {% block links%}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'src/css/gallery.css' %}">
    {% endblock %}
{% block container %}

<div class="container-wrapper">
    <div class="trending-wrapper">
        {% for article in context.page.object_list|slice:":3"%}
        {% if forloop.counter == 1 %}
        <div class="first">
            <span class="badge badge-default">Trending</span>
            <img src="{{article.article_image.url}}"/>
            <div class="first-article-details">
                <p class="justify dosis">{{article.article_title}}</p>
                <span class="first-article-meta">
                    <span class="float-left dosis">
                        <a href="#" > <i class="fa fa-calendar-check-o"></i> {{article.created}}</a>
                    </span>
                    <span class="float-right dosis"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                </span>
            </div>
        </div>
        {% elif forloop.counter == 2 %}
        <div class="second">
            <span class="badge badge-default">Trending</span>
            <img src="{{article.article_image.url}}" />
            <div class="second-article-details">
                <p class="justify dosis">{{article.article_title}}</p>
                <span class="second-article-meta">
                    <span class="float-left dosis">
                        <a href="#" > <i class="fa fa-calendar-check-o"></i> {{article.created}}</a>
                    </span>
                    <span class="float-right dosis"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                </span>
            </div>
        </div>
        {% else %}
        <div class="third">
            <span class="badge badge-default">Trending</span>
            <img src="{{article.article_image.url}}" />
            <div class="third-article-details">
                <p class="justify dosis">{{article.article_title}}</p>
                <span class="third-article-meta">
                    <span class="float-left dosis">
                        <a href="#" > <i class="fa fa-calendar-check-o"></i> {{article.created}}</a>
                    </span>
                    <span class="float-right dosis"><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
                </span>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <p>Sorry, no articles.</p>
        {% endfor%}
        <!--2/3 part  -->
    </div>
    <div class="two-part-wrapper">
        <div class="col-md-8 left-half">
            <!-- first section-->
            <section class="programing">
                <div class="box-title">
                    <h2 class="title">
                        <a class="abel" href="#">Programing</a>
                    </h2>
                </div>
                <div class="box-content">
                    <ul>
                     {% for article in context.page|slice:":5" %}  <!-- for programing -->
                      {% if forloop.counter == 1 %}
                        <div class="box-wrapper">
                            <div class="box-thumbnail">
                                <a href="{% url 'article' pk=article.id %}" style="background:url({{article.article_image.url}}) no-repeat center center; background-size: cover;">
                                </a>
                                <span class="img-overlay"></span>
                            </div>
                            <div class="box-bottom-content">
                                <a href="{% url 'article' pk=article.id %}">
                                    <h3 class="abel">{{article.article_title}}</h3>
                                </a>
                                <span class="recent-date">{{article.created}}</span>
                            </div>
                        </div>
                      {% else%}
                        <li>
                            <div class="list-box-thumbnail" >
                                <a href="{% url 'article' pk=article.id %}" style="background: url({{article.article_image.url}}) no-repeat center center; background-size: cover;"></a>
                            </div>
                            <div class="barlow list-box-title">
                                <h4>{{article.article_title}}</h4>
                                <span><i class="fa fa-calendar-check-o"></i> {{article.created}}</span>
                            </div>
                        </li>
                      {% endif %}
                      {% endfor %}
                    </ul>
              </div>
            </section>
            <section class="recent-posts">
                <div class="box-title">
                    <h2 class="title">
                        <a class="abel" href="/search/label/Business?&amp;max-results=10">RECENT</a>
                    </h2>
                </div>
                {% for article in context.page|slice:":5" %}
                <div class="post-wrapper">
                    <div class="post">
                        <div class="block-image float-left">
                            <div class="thumb">
                                <a href="{% url 'article' pk=article.id %}" style="background: url({{article.article_image.url}}) no-repeat center center; background-size: cover;">
                                    <span class="thumb-overlay"></span>
                                </a>
                            </div>
                            <div class="postags">
                                <a class="featured" href="" rel="tag">featured</a>
                            </div>
                        </div>
                        <div class="description">
                            <h2 class="heading">{{article.article_title}}</h2>
                            <div class="description-meta">
                                <span><time> <i class="fa fa-calendar"></i> {{article.created}}</time></span>
                                <span class="summary">{{article.get_summary|truncatechars:130}}</span>
                                <a class="read-more" href="{% url 'article' pk=article.id %}">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </section>
            <section class="business">
                <div class="box-title">
                    <h2 class="title">
                        <a class="abel" href="/search/label/Business?&amp;max-results=10">Ayurveda</a>
                    </h2>
                </div>


            </section>
        </div>





















        <div class="col-lg-4 right-half"></div>
    </div>
</div>

{% if article_page.has_other_pages %}
  <nav class="pagination">
    <ul>
    {% if article_page.has_previous %}
      <li><a href="?page={{ article_page.previous_page_number }}">&laquo;</a></li>
    {% else %}
       <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for i in article_page.paginator.page_range %}
      {% if article_page.number == i %}
        <li class="current"><strong>{{i}}</strong></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if article_page.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  </nav>
  {% endif %}



<!-- popup html -->
{% include 'pop_animate.html'%}

{% endblock %}
