{% extends 'base.html' %}

{% block title %} "{{tag_name}}" | lifeinabits {% endblock %}

{% block links%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/tag_view.css' %}"/>
{% endblock%}
{% block script %}
    <!--future use scripts-->
{% endblock %}

{% block container %}
<div class="container-wrapper">
    <div class="abel">
        <h2> Articles tagged with word "<i><strong>{{tag_name}}</strong></i>"</h2>
    </div>

    <div class="four-six col-md-8 abel">
        {% load static %}
        {% for article in articles %}
        <div class="card-wrapper">
            <div class="card-img col-md-5">
                <a href="{% url 'article' pk=article.id %}">
                    <img src="{{article.get_article_image}}"/>
                </a>
            </div>
            <div class="card-info col-md-7">
                <div class="heading">
                    <span class="cat_posted "><a class="dosis" href="{% url 'tag' tag_name %}">{{tag_name}}</a></span>
                    <h2>
                        <a href="{% url 'article' pk=article.id %}">
                            {{article.article_title|truncatechars:140}}
                        </a>
                    </h2>
                    <time>{{article.created|date:"d M Y"}}  </time> <i class="fa fa-user-o" ></i> {{article.get_author_profile.full_name}} <i class="fa fa-comment-o"></i> {% load comments %}
            {% get_comment_count for article as comment_count %}
            {{comment_count}}

                </div>
                <div class="description">
                    <p class="justify">
                        {{article.get_summary|striptags |truncatechars:100}}
                    </p>
                </div>
                <div class="read-more-button">
                    <span><a href="{% url 'article' pk=article.id %}" >Read More... <i class="fa fa-plus"></i></a> </span>
                </div>
                <div class="share-article center">
                    <div class="center share-box">
                        <a href="" ><i class="fa fa-heart-o" ></i></a>
                        <a href="" ><i class="fa fa-facebook-f" ></i></a>
                        <a href="" ><i class="fa fa-google"></i></a>
                        <a href="" ><i class="fa fa-twitter"></i></a>
                        <a href="" ><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>


            </div>
            </div>
            <hr>
    {% endfor %}
    </div>



    <div class="two-six col-md-3">
        <div class="tag-container">
            <h3> Popular Tags</h3>
            {% for tag, count in popular_tags %}
                <a href="{% url 'tag' tag %}" class="btn btn-xs btn-default">
                        {{ tag }} <span class="badge badge-info">{{ count }}</span>
                </a>
                    <!-- <a href="{% url 'tag' tag %}"><span class="label label-default">{{ tag }} {{ count }}</span></a> -->
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}