/* .tags{background: #5f2c82;
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
background: linear-gradient(to right, #49a09d, #5f2c82); 
color:#fff;
font-size: 15px;
display: block;
text-decoration: none;
border: 1px solid #000;
border-radius: 4px;
} */