{% extends 'base.html' %}
{% block container %}
  <div id="login-page" class="container">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form" method="post">
        {% csrf_token %}
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input class="validate"  id="id_email" type="text" name="email">
            <span class="errors">{{form.email.errors}}</span>
            <label for="email" data-error="wrong" data-success="right" class="center-align">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a href="" class="btn waves-effect waves-light col s12">Recover my Password</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="{% url 'sign-up' %}">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="{% url 'login'%}">Login</a></p>
          </div>          
        </div>
      </form>
    </div>
  </div>
{% endblock %}