{% extends '../base.html' %}
    {% load static %}
    {% block links %}
        <link rel="stylesheet" type="text/css" href="{% static 'src/css/registration/profile.css' %}">
    {% endblock %} 

    {% block container %}
        {% load static %}
        <script type="text/javascript" data-main="{% static 'src/js/profile.js' %}" src="{% static 'src/js/lib/require.js'%}"></script>
        <!-- ############ block for  row -->
        <div>
            <div class="container-lg">
                <div class="left-part col-md-3">
                    <div class="profile-img">
                        <a href="{% url 'profile' profile_id=user.id %}?edit=true" data-toggle="tooltip" title="Change Profile Picture" data-placment="bottom">
                            <img src="{{request.user.userprofile.profile_picture.url}}" width="223" height="230"/>
                        </a>
                    </div>
                    <div class="name-container">
                        <p>
                            <span>{{user.get_full_name}}</span>
                            {{user.userprofile.article_reads.all|length}}
                        </p>
                    </div>
                    <p class="add-bio">
                        <a href="{% url 'profile' profile_id=user.id %}?edit=true">
                            Add a bio
                        </a>
                    </p>
                    <a href="{% url 'profile' profile_id=user.id %}?edit=true" class="btn btn-success col-md-12">Edit profile</a>
                </div>
                <div class="right-part col-md-9">
                    <div class="user-profile-nav">
                        <ul class="navigation nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a class="underline-nav-item" data-toggle="tab" href="#Overview">Overview</a>
                            </li><li><a class="underline-nav-item" data-toggle="tab" href="#Articles" role="tab">Articles <span class="badge">{{user.article_set.all|length}}</span></a>
                            </li><li><a class="underline-nav-item" data-toggle="tab" href="#profile" role="tab">Profile</a>
                            </li><li><a class="underline-nav-item" data-toggle="tab" href="#reads" role="tab">Reads <span class="badge"> {{user.userprofile.article_reads.all|length}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div style="position: relative;" class="tab-content">
                        <div class="mt-4 tab-content content">
                            <div id="Overview" class="about-me tab-pane active">
                                <a href="#" class="profession" rel="facebox">{{request.user.userprofile.short_intro}}</a>
                                <div class="about-card">
                                    <h2>
                                        About <b>{{user.get_full_name}}</b> 
                                    </h2>
                                    <div class="user-info">
                                        <span> <a href="#"   rel="facebox">As a {{request.user.userprofile.short_intro}}</a></span>
                                        <p>
                                            {{request.user.userprofile.about_me}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="Articles" class="articles-written tab-pane">
                                <div class="about-card">
                                    <h2>
                                        Articles Written
                                    </h2>
                                </div>
                                <div class="row">
                                {% for user_article in request.user.article_set.all %}
                                  <div class="col-xs-6 col-md-3 five">
                                    <div class="layer">
                                        <a class="btn btn-xs editore" href="{% url 'article_edit' pk=user_article.id  %}?edit=true">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <h4>
                                            <a href="{% url 'article' pk=user_article.id %}">{{user_article.article_title}}</a>
                                        </h4>
                                    </div>
                                    <a href="#" class="thumbnail">
                                      <img src="{{user_article.get_article_image}}" alt="..." width="150" height="142">
                                    </a>
                                  </div>
                                  {% empty %}
                                        <li>Sorry, no athletes in this list.</li>
                                  {% endfor %}
                                </div>
                            </div>
                            <div class="profile-info tab-pane" id="profile" role="tabpanel">
                                 <div class="about-card">
                                    <h2>
                                        Personal info 
                                    </h2>
                                </div>
                                <div class="bb-1" id="personal-info">
                                    {% include '../registration/fancy_about_info.html' %}
                                </div>
                            </div>
                             <div class="reading tab-pane" id="reads" role="tabpanel">
                                 <div class="about-card">
                                    <h2>
                                       Reading History
                                    </h2>
                                </div>
                                <div class="reading-history">
                                    {% for reads in user.userprofile.article_reads.all %}
                                        <a href="{% url 'article' pk=reads.id %}">
                                        <div class="media bb-1 col-md-5">
                                            <img class="d-flex align-self-start" width="64" height="64" src="{{reads.get_article_image}}" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="mt-0 trim-text" data-toggle="tooltip" title="{{reads.article_title}}" data-placement="bottom">
                                                    {{reads.article_title}}
                                                </h5>
                                                <p>
                                                    <span class="highlighter"> 
                                                        <i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" title="Author"></i> 
                                                    </span> 
                                                        {{reads.article_author}}
                                                    <span class="highlighter"> 
                                                        <i class="fa fa-calendar" aria-hidden="true" data-toggle="tooltip" title="Created Date"></i> 
                                                    </span>
                                                        {{reads.created |date:"D d M Y"}}
                                                    <span class="highlighter"> 
                                                        <i class="fa fa-book" aria-hidden="true" data-toggle="tooltip" title="Total Reads"></i> 
                                                    </span>
                                                        {{reads.article_reads|length}}
                                                    <span class="highlighter"> 
                                                        <i class="fa fa-tint" data-toggle="tooltip" title="Category" aria-hidden="true"></i> 
                                                    </span>
                                                         {{reads.article_category}}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    {% empty %}
                                        <li>Sorry No reads Here</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


