{% block content %}
{% load static %}
<link href="{% static 'src/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- <div class="logo"><a href="index.html">LifeInaBits</a></div> -->
<script  src="{% static 'src/js/signup.js' %}"></script>
<div class="signup-container">
  <!-- <div class="heading"><h2>Sign up</h2></div> -->
<div class="column-1">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{field.label_tag}}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <input type="submit" name="signup_submit" value="Sign Up" class="animated" />
</div>
</form>
<div class="column-2">
<div class="social">
     <a class="btn social-signin facebook" href="{% url 'social:begin' 'facebook' %}?next={% url 'social_auth' %}"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
 
 
     <a class="btn social-signin google" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'social_auth' %}"><i class="fa fa-google" aria-hidden="true"></i> Google</a>
   
  
     <a class="btn social-signin twitter" href="{% url 'social:begin' 'twitter' %}?next={% url 'social_auth' %}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
  </div>
  </div>
</div>
</div>
<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #4CA1AF
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
  background: linear-gradient(to right, #C4E0E5, #4CA1AF);
}
.signup-container{
    margin: 50px auto;
    padding: 0;
    max-width: 1024px;
    background: #ddd;
    display: flex;
}
.form-group{padding: 5px; margin-top: 5px;}
.column-1 {display: inline-block;width: 47%; padding: 18px;}
.column-2 {display: inline-block;width: 46%; padding: 18px; float: right;background-image: url(https://images8.alphacoders.com/582/thumb-1920-582884.jpg); background-repeat: no-repeat; background-size: cover;background-clip:border-box; position: relative;}

select{
  max-width: 100px;
  min-width: 100px;
  height: 38px;
  background: #fff;
  border-radius: 5px;
  border: 0px;
  padding: 0px 11px;
}
label[for="id_birth_date_month"]{display: block; margin-bottom: 5px;}

.heading{display: block; width: 100%; padding:20px; text-align:center;}
input[type="text"], input[type="password"], input[type="email"]{
  display: block;
    box-sizing: border-box;
    padding: 4px;
    width: 286px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    border-radius: 5px;
    margin: 5px 0px;
}
input {-webkit-appearance: button-bevel;}
input[type="text"]:focus, input[type="email"]:focus, select:focus, input[type="password"]:focus {
  border-bottom: 0px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
  box-shadow: 0px 1px 1px 0px;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.social{
    position: absolute;
    top: 266px;
    left: 163px;
}

a.social-signin {
  display: block;
  width: 174px;
  height: 27px;
  font-size: 26px;
  padding: 15px;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
}

a.social-signin:hover, button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  opacity: 0.8;
}

a.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

a.social-signin.facebook {
  background: #32508E;
}

a.social-signin.facebook:hover{
background: #1c56d2
}

a.social-signin.twitter {
  background: #73bcf3;
}

a.social-signin.twitter:hover{
background: #1c56d2
}

a.social-signin.google {
  background: #DD4B39;
}
a.social-signin.google:hover{
background: #ed5b49;
}
</style>
{% endblock%}
