{% extends '../base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% load static %}
<script  src="{% static 'src/js/signup.js' %}"></script>

<div id="login-box">
  <form method="post">
  <div class="left flipInY animated">
    <h2>Sign up</h2>
    {% csrf_token %}
    {% for field in form %}
        
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.name == 'email'%}
            </div>
            <div class="right flipInY animated">
          {% endif %}
    {% endfor %}
    <input type="submit" name="signup_submit" value="Sign me up" class="animated" />
  </div>
  <div class="or">OR</div>
</form>
<div class="social">
     <a class="btn social-signin facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
 
 
     <a class="btn social-signin google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
   
  
     <a class="btn social-signin twitter " href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
</div>
</div>
<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.dob {
  width: 100px;
  display: inline-block;
}

#login-box {
  margin: 44px 31px;
  position: relative;
  height: 536px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 40%;
  height: 300px;
}
.right{

    text-align: left;
    margin-left: 50%;
    padding: 40px;
    height: 300px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"], input[type="password"], input[type="email"]{
  display: block;
  box-sizing: border-box;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.social{
  position: relative;
    margin-top: 164px;
    text-align: center;
}

a.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

a.social-signin:hover, button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

a.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

a.social-signin.facebook {
  background: #32508E;
}

a.social-signin.twitter {
  background: #55ACEE;
}

a.social-signin.google {
  background: #DD4B39;
}
.or{
  position: absolute;
  left: 50%;
  top: 79%;
  clear: both;
  padding: 13px;
  border-radius: 50%;
  background-color: #16a085;
  width: 50px;
  height: 50px;
}
</style>
{% endblock%}
