{% extends '../base.html' %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/registration/signup.css'%}"/>
{% endblock %}
{% block container %}
<div class="container signup-container">
    <div class="intro">
          <h2 class="text-center">
            Join <span class="lobster">LifeInabits</span>
          </h2>
          <p class="text-center dosis">
              Share Your Thoughts
          </p>
    </div>
    <div id="login-page" class="row">
      <form method="post" action=""  class="login-form">
        {% csrf_token %}
          <div class="form-group">
              <label for="id_username" class="center-align">Username</label>
              <input id="id_username" type="text" class="validate form-control" name="username">
              <span class="error">{{form.username.errors}}</span>
          </div>
          <div class="form-group">
              <label for="id_email" class="center-align">Email</label>
              <input class="form-control" id="id_email" type="email" name="email">
              <span class="error">{{form.email.errors}}</span>
          </div>
          <div class="form-group">
              <label for="id_password1">Password</label>
              <input id="id_password1" type="password" class="validate form-control" name="password1">
              <span class="error">{{form.password1.errors}}</span>
          </div>

        <div class="form-group">
            <label for="id_password2">Re-type password</label>
            <input class="form-control" id="id_password2" type="password" name="password2">
            <span class="error">{{form.password2.errors}}</span>
        </div>
        <div class="form-group text-center">
            <button type="submit" name="Submit" class="btn sign-up">Register</button>
            <button type="submit" name="Submit" class="btn sign-up">Reset</button>
        </div>
{#          <p class="margin center">Already have an account? <a href="{% url 'login' %}">Login <i class="fa fa-arrow-right"></i> </a></p>#}
        </form>
    </div>
    <div class="agreement-with-sign-up">
        <p class="text-center">
            By signing up, you agree to our <a>Terms of Service.</a>
            Already have an account? <a href="{% url 'login' %}"> Log in </a>
        </p>
    </div>
</div>
{% endblock %}