<div class="blog-row">
  <div class="main-wrapper">
    <div class="main-content">
      <header class="article-heading">
        <div class="article-title">
          <h2>{{article?.article_title}}</h2>
        </div>
        <img [src]="getSantizeUrl(article?._s3_image_path)" class="article-image">
      </header>
      <div class="article-content">
        <hr>
        <p [froalaView]="article?.article_content"></p>
      </div>
          <h3>filed under...</h3>
          <div class="tag-container">
            <app-tag *ngFor="let teg of article?.article_tags" [behaveClass]="'tags'"  [tagid]="teg"></app-tag>
          </div>
          <hr>
      <!-- <h3 class="author-heading barlow">Author</h3> -->
      <div class="author">
        <div class="author-wrapper">
          <div class="author-image">
            <img [src]="article_author?._s3_image_path"/>
          </div>
          <div class="author-description">
            <h1>{{article_author?.full_name}}</h1>
            <h3>{{article_author?.self_intro}}
              <!-- <a class="more-about-author" [routerLink]="['/user/profile/',  article_author.id]">More About Author..</a> -->
            </h3>
            <p> {{article_author?.bio| slice:0:200}}...<br>
                <a class="more-about-author" [routerLink]="['/user/profile/',  article_author?.id]" >More About Author..</a>
            </p>
            <div class="contact ltylw">
              <span class="share-span">
                <a href="https://github.com/pam-odoo" rel="me noopener" target="_blank" title="GitHub">
                  <i class="fa fa-github"></i>
                </a>
              </span>
              <span class="share-span">
                <a href="https://twitter.com/kamalkkk987" rel="me noopener" target="_blank" title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </span>
              <span class="share-span">
                <a href="https://www.linkedin.com/in/kp9099" rel="me noopener" target="_blank" title="LinkedIn">
                  <i class="fa fa-linkedin"></i>
                </a>
              </span>
              <span class="share-span">
                <a href="https://plus.google.com/+Pankajkamani" rel="me noopener" target="_blank" title="Google+">
                  <i class="fa fa-google"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <h3 class="author-heading barlow">
        <span style="font-size: 18px; text-transform: capitalize; font-family: 'Raleway',sans-serif; float: right;">2 responses</span> Comments</h3>
      <div class="comment-thread">
        <div class="comments-thread">
          <div class="comments-wrapper">
            <ul class="level-1">
              <li>
                <div class="comment-wrapper">
                  <div class="comment-img">
                    <img src="assets/business.jpg" />
                  </div>
                  <div class="comment-body">
                    <header>
                      <span class="meta-info user-name"> pankaj kamani </span>
                      <span class=""> liked 4 hours ago</span>
                    </header>
                    <p class="comment-content">
                      this is the level-1 comment
                    </p>
                    <span class="comment-footer">
                      201
                      <i class="fa fa-thumbs-o-up"></i>
                      121
                      <i class="fa fa-comments-o"></i>
                      20
                      <i class="fa fa-share"></i>
                    </span>
                  </div>
                </div>
              </li>
              <li>
                <ul class="level-2">
                  <li>
                    <div class="comment-wrapper">
                      <div class="comment-img">
                        <img src="assets/business.jpg" />
                      </div>
                      <div class="comment-body">
                        <header>
                          <span class="meta-info user-name"> pankaj kamani </span>
                          <span class=""> liked 4 hours ago</span>
                        </header>
                        <p class="comment-content">
                          this is the level-1 comment
                        </p>
                        <span class="comment-footer">
                          201
                          <i class="fa fa-thumbs-o-up"></i>
                          121
                          <i class="fa fa-comments-o"></i>
                          20
                          <i class="fa fa-share"></i>
                        </span>
                      </div>
                    </div>
                  </li>
                  <li></li>
                </ul>
              </li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

        <div class="comment-form-wrapper">
          <h3 class="author-heading barlow">Leave a Response</h3>
          <form>
            <ul class="form-style-1">
              <li>
                <label>Full Name
                  <span class="required">*</span>
                </label>
                <input type="text" name="field1" class="field-long" placeholder="First" />
              </li>
              <li>
                <label>Email
                  <span class="required">*</span>
                </label>
                <input type="email" name="field3" class="field-long" />
              </li>
              <li class="comment-message">
                <label>Your Message
                  <span class="required">*</span>
                </label>
                <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
              </li>
              <li>
                <input type="submit" value="Submit" />
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="sidebar-search box">
        <h3 class="text-left barlow">Search Blog</h3>
        <div class="sidebar-search-wrapper">
          <form class="form-inline">
            <input class="form-control" type="text" name="q" />
            <button class="btn btn-primary form-control">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="related-posts box">
        <h3 class="text-left barlow">You may like</h3>
        <div class="related-wrapper">
          
        </div>
      </div>
      <div class="box" style="width: 100%; height: 200px;"></div>
      <div class="box" style="width: 100%; height: 200px;"></div>
      <div class="box news-letter">
        <div id="newsletter">
          <form action="">
            <div class="seal">
              <i class="fa fa-envelope-o"></i>
            </div>
            <div class="title">
              Newsletter
            </div>
            <label for="email">
              we'll make sure you never miss a thing! 
            </label>
            <input type="text" placeholder="enter your email here" />
            <input type="submit" value="subscribe now"/>
          </form>
        </div>
        <div class="shadow"></div>
      </div>
    </div>
  </div>
</div>
