body{background-color:#f9f5f5}
textarea:focus, input:focus, select:focus {outline: none !important;}
*{padding: 0; margin: 0; box-sizing: border-box;}
h1, h2, h3, h4, h5, h6{margin: 0 !important;}
pre{padding: 0 !important; border: none !important; border-radius:0 !important; margin:10px 0;}
.blog-banner{height: 450px; position: relative;box-shadow: inset 1px -3px 14px 1px #908686;}
.blog-banner .article-meta{position: absolute; top: auto;bottom: 45px;padding: 20px; border-radius: 5px;}
.blog-banner .article-meta .yl{text-shadow: 1px 1px 5px forestgreen;}
.blog-banner .article-meta p{color: #7d7a68;margin-top: 5px; margin-left: 5px;}
.container-wrapper{max-width: 90%; display: flex; flex-direction: row;flex-basis: 100%; flex-wrap: wrap; align-items: flex-start;justify-content: space-evenly;}
/*.one-six{padding-top: 20px; padding-bottom: 20px; width: 0%;}*/
.two-six{padding: 20px; width: 25%; border-radius: 4px; background-color: #fff;}
.four-six{width: 68%; padding: 20px; border-radius: 4px; background-color: #fff;}
.one-six .social-comments ul li{border:1px solid rgba(0, 0, 0, 0.13); border-radius:5px; margin-bottom: 4px;padding: 5px; width: 50px; height: 50px; background-color: #fff;}

/*for social-share-article*/
.four-six .social-share-article {display: block; width: 100%; margin-top: 20px;}
.four-six .social-share-article ul{display: flex;}
.four-six .social-share-article ul li{color: #fff; display: inline-block; width: calc(100%/4); border-radius: 2px; margin-right:10px; padding: 10px; border:1px solid #ddd;}
.four-six .social-share-article ul li a{color: #fff;}
/* end social-share-article*/


/*for comments*/
[for~=id_honeypot]{display: none;}
.comments-container h3{padding: 20px 0;}
.label.label-info{display: inline;    padding: 4px;    font-size: 11px;    color: #fff;    text-align: center;    white-space: nowrap;    vertical-align: baseline;    border-radius: 1em;    margin-left: 5px;    margin-right: 5px;}
.comment-form .anonymouse-comment form input[type=submit]{margin-left: 0;}
#id_comment{width: 100%; height: 50px; border-radius: 5px;border: 1px solid #ddd;}
.comment-form .anonymouse-comment{margin: 40px 0;}
.comment-form .anonymouse-comment p{display: inline-block;}
.comment-form .anonymouse-comment form input{padding: 2px;margin-bottom: 15px;    border-radius: 5px;border: 1px solid #ddd; margin-left: 10px;}
.comment-form .anonymouse-comment form > [type=submit]{padding: 2px; border-radius: 2px !important; width: 60px !important; background: #fff !important;    color: #fd4326 !important;}
.comment-avatar{width: 70px;}
.comment-box{width: 614px;}
.comment-head{display: flex;}

.comment-main-level{display: flex; flex-basis: 100%; flex-direction: row;}
.comment-box:before{content: ''; position: absolute;top: 33%; left: -16px;border: 8px solid rgba(0, 0, 0, 0); border-right: 8px solid #fff;}
#id_honeypot{visibility: hidden; display: none;}
#id_submit{margin-top: 10px;margin-bottom: 10px;border-radius: 2px;}
/* comments ends here*/

/*for tw0-six column*/
.recent > p{margin:10px 0;}
.recent-article{z-index: 5; width: 100%; padding:0 10px;margin-bottom: 20px; position: relative; border-radius: 2px;     border: 1px solid #d4c9c9;}
.recent-article .back-blur-container{    position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; filter: opacity(0.5) blur(0px);}
.recent-article > p > a{font-size: 22px;color: #f90043; text-transform: lowercase;}
.recent-article time{font-size:13px; color: var(--wht-color);background: #444343;padding: 3px;}
.tag-box{margin: 19px 0;}
.tags a {border-radius: 2px; background-color: #e0ffff; margin-bottom: 5px;}
.tags span.badge {background: #FF9800;}
.box-title{width: 100%; clear: both;}
.author-post{margin-bottom: 30px;}
.author-post img{width: 80px;height: 80px;}
.author-post-wrapper{margin-bottom: 22px; overflow: hidden; display: flex; flex-direction: row;  justify-content: space-around;}
.box-title h2{color: #1c1c1c;position: relative; border-bottom: 1px solid #f5f5f5;margin-bottom: 15px !important;text-decoration: none; font-size: 18px; letter-spacing: 1px;text-transform: uppercase; line-height: 1.5;font-family: Abel; font-weight: 400;font-style: normal;  padding-bottom: 15px;}
.box-title h2:before{position: absolute; content: ''; bottom: 0;  left: 0; width: 36px; height: 3px; background-color: #fd4326;}
.author-info h4{color: #8e8a8a;}
.author-post .contact {display: flex; flex-direction: row;justify-content: space-around;}
/* tw0-six ends here*/
/*for slides */
.related-article{height:100px; position: relative;}
.back-color-holder{background-color: #f8f8ff;}
.related-article span.badge{position: absolute; top: 10px; left: 23px; border-radius: 2px;}
.related-article img{width: 100%; height: auto;}
.related-article h3 {margin:0;}
.slick-next {right: -12px !important; top: 53px !important;}
.slick-prev {left: -12px !important;    top: 53px !important;}
.slick-next:before{color: #ef4430 !important;}
.slick-prev:before{color: #ef4430 !important;}
h4.interested{position: relative;margin: 54px 0 !important; font-size: 23px; letter-spacing: 3px; border-bottom: 1px solid #f9f5f5; padding: 10px 0;}
.slide-image-wrapper {max-height:110px;}
.slide-image-wrapper  img{max-height:110px;}
.slic-article-meta h4 {margin-top:10px !important; height: 40px;}
span.created-meta{margin-top:10px; font-size: 12px; color: #3a6186;}
/* ends for slides*/


/* for collapsable list */
.archive-box{margin: 19px 0;}
.collapsibleListClosed::before{content:'\f0da';margin-right: 2px;}
.collapsibleListOpen > .collapsibleList{margin-left: 10px;}
.collapsibleListOpen:before{content:'\f0d7'; margin-right: 2px;}