body{background-color: #fff;}
.article-title{color: #f84912;}
.editore-form{margin: 0 auto; overflow: hidden; margin-bottom: 10px;}
.cke_inner{background-color: #fff !important;}
.navbar{background: rgba(221, 221, 221, 0.45);}
.navbar-nav li a{color: #282828 !important;}
.topHolder{margin-top: 10px; width: 100%; padding: 5px 20px; background-color: #fff; overflow: hidden;border-bottom: 1px solid #ddd;}
.left-topHolder{width: 60%; display: inline-block; float:left;}
#id_article_title{width: 70%; box-shadow: inset 0 0 0 0;border:1px solid #cbcccb;height: 29px; border-bottom: 1px solid #fc7347; }
.right-topHolder{width: 40%; display: table-cell; float: right; margin: 3px -38px;}
.right-topHolder .posting-sapn img{border-radius: 50%;}
.right-topHolder .posting-sapn {font-size: 14px;}
.right-topHolder .btn{background: -webkit-gradient(linear,left top,left bottom,from(#f57b54),to(#ff7043)); border: 1px solid #f84912;padding: 3px 12px;color: #fff; margin-right: 4px;-webkit-border-radius: 2px;-webkit-transition: all .2s;-webkit-box-sizing: content-box;-webkit-box-align: stretch;-webkit-user-select: none;}
.right-topHolder > *{display: inline-block;}
.topHolder .left-topHolder h4{display: inline-block;}
.editore-pannel, .side-pannel{padding: 0;}
.panel-group .panel{border-radius: 0;}
.cke_chrome {border-radius: 0; border: 0;}
.cke_inner{background: #fff !important;}
.side-pannel h2{font-size: 19px; padding: 15px;color:#f84912; margin: 0;border-left: 1px solid #ddd;}
.panel-title{font-size: 17px;}