/*main css for list*/
.root{
    padding-left: 18px;
}
li.collapsibleListOpen,li.collapsibleListClosed {
    position: relative;
}
li.collapsibleListOpen>ul {
    padding-left: 15px;
}
li.collapsibleListClosed:before{
    content: "\f196";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #6bc816;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: -2px;
    left: -18px;
}
li.collapsibleListOpen:before {
    content: "\f146";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #6bc816;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: -2px;
    left: -18px;
}
.btn-default .badge{
    background-color: #fdb725;
}
.login-popup{
    position: relative;
}


.social-comments{
    margin-top: 62px; 
    position: absolute;
    left: 30px;

}
.social-comments ul{
    display: block;
    width: 50px;
    height:200px;
    padding: 10px;
}
.social-comments ul li {
    border-radius: 5px;
    border:1px solid #ddd;
    padding:2px;
    margin-bottom: 5px;
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 18px;
    text-align: center;  
}
.social-comments ul li a {
    display: block;
    width: 100%;
}

.social-comments ul li p{
    text-align: center;
    color: #fd7525;

}
.scrollfix{
    position:fixed !important;
    top: 20px !important;
    left: 30px !important;
}














/*.search-container .tags{
    padding: 0px 28px;
}*/
body{
    background: #fff;
}
.logo a{
    color: #ddd;
    -webkit-text-fill-color:#ddd;
}
.blog-container p{
    text-align: justify;
}
#id_honeypot {display: none;}
.sticky-container{
    display: none;
}
.search-container input{
    border-radius: 18px;
    box-shadow: none;
}
.search-container button{
    border-radius: 18px;
    border-left: none;
    box-shadow: none;
}
li.recent{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}
.recent img{float: left;
    margin-right: 2px;
    border: 0 !important;
    box-shadow: none !important;
    margin: 2px 10px 2px 0;
    padding: 0 !important;
    color: #337ab7;
}
.recent p {
    font-weight: 400;
    font-size: 17px !important;
    line-height: normal;
    font-family: pro-fonts, sans-serif;
    margin-bottom: 0px;
    text-align: justify;
}
.recent time{
    font-family: pro-fonts;
}
header{
    position: absolute;
    background: transparent;
    padding: 20px 0;
}
header #cssmenu{
    width: 1140px !important;
}
#cssmenu{background: transparent;
}
.blog-banner img{ 
    width: 100%;
    height: 500px;
}
.blog-banner .container{
    padding: 7px 0px;
    position: absolute;
    bottom: 0;
    left: 115px;
}
.yellow{color: #f24e06;}
.yl{
    font-family: pro-fonts, sans-serif;
    bottom: 180px;
    position: absolute;
    width: 50%;
    color: #fdb525;
    padding-left: 30px;
    text-transform: capitalize;
}
.yl-p {
    position: absolute;
    bottom: 154px;
    padding-left:40px;
    color: #de8d8d;
    font-size: 19px;
}
.fa-github:hover{color: #000}
.fa-twitter:hover{color: #1da1f2}
.fa-linkedin-square:hover{color: #0077B5}
.fa-google-plus-official:hover{color:#d14437;}
#id_submit{margin: 10px 0px; width: 100px;}
.container{padding: 13px 0px;}
.social-media{position: fixed; top: 30%; left: 0px}
.social-media button {display: block;clear: both;}
.blog-container{margin-left: 50px; border-radius: 5px;width: 65%;display: inline-block; height: auto; background-color: #fff; color: #000; padding: 20px;font-family: pro-fonts, sans-serif; font-size: 18px;} 
.blog-archive{
    width: 25%;
    display: inline-block;
    float: right;
    height: auto;
    margin-right: 50px;
}
.card-post-author{background-color: #f5f5dc; box-sizing: border-box; padding: 10px;}
.author-img {display: inline-block; position: relative; margin-right: 5px}
.author-info{display: inline-block; margin-left: 5px; max-width: 80%;color: #f14906;}
.author-info p{margin: 0px;}
.author-img img{width: 130px;height: 130px;border-radius: 5px;}
.img-wrapper {margin-bottom: 20px;}
.name{/*font-size: 20px; color: #ff4500;*/}
.img-wrapper img{width: 100%; padding: 5px; display: inline-block;max-height: 500px;}
.article-title {text-align: center; font-size: 20px; font-family: 'Saira',sans-serif; margin-bottom: 20px; color: #575555}
.article-heading{font-family: 'Slabo 27px', sans-serif; font-size: 34px; text-align: center; margin-bottom: 20px;}
.article-meta{text-align: center;}
.article-meta li{list-style-type: none; display: inline-block; color: #1b4b38; margin: 0px 14px; font-size: 15px;}
.contact {display: block;float: right;}
.contact a{display: block; font-size: 28px; margin: 2px; color: #8aa2ac;}
.contact a:hover{color: #0056b3;}
.search-container {padding: 20px 11px; background: #fff; border-radius: 5px;}
.tag-container {height: auto;}
.thought-container {color: #000; padding: 20px 11px; min-height: 200px;}
.ad-container {color: #c21818; padding: 20px 11px; min-height: 220px;}
.archive-contents{padding-left: 5px; color: #999;background: #fff;
border-radius: 5px;}
.archive-contents h4{color: #be3434;padding: 7px 9px;
padding-bottom: 0;}
.tag-heading  h4 {text-align: center; font-family: 'Roboto', sans-serif; margin: 1px;}
.archive-contents ul > li{padding: 0px;}
.tags{max-width:auto;padding:0px 6px; }
.tag{display: inline-block;
width: auto;
padding:1px;
background: crimson;
border: 1px solid darkgrey;
border-radius: 5px;
font-size: 19px;
font-family: sans-serif;
margin:1px 0px;
color: #ddd; 
}
    
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

 a {
    color: #03658c;
    text-decoration: none !important;
 }

ul {
    list-style-type: none !important;
}
.comment-list{
    background: rgba(239, 185, 126, 0.2);
    padding: 10px 10px;
}
.comments-container {
    margin: 0px auto 15px;
    width: 768px;
}

.comments-container h1 {
    font-size: 23px;
    color: #283035;
    font-weight: 400;
    margin-top: 5px;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
.comments-list .comment-box {
    margin-right: 81px;
    width: 600px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 0px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 10px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 10px;
    margin-right: 5px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.author {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
*/
/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }
}