@font-face{
  font-family: 'roboto';
  src:url('/static/src/fonts/roboto/Roboto-Regular.woff2') format('woff2');
}@font-face{
  font-family: 'heading';
  src:url('/static/src/fonts/custom_fnts.woff2') format('woff2');
}@font-face{
  font-family: 'SairaCondensed-Light';
  src:url('/static/src/fonts/saira/SairaCondensed-Light.ttf') format('ttf');
}@font-face{
  font-family: 'SairaCondensed-medium';
  src:url('/static/src/fonts/saira/SairaCondensed-Medium.ttf') format('ttf');
}@font-face{
  font-family: 'SairaCondensed-Thin';
  src:url('/static/src/fonts/saira/SairaCondensed-Thin.ttf') format('ttf');
}
body {
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),url(/static/src/images/banner/6.jpg) !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.service-header{
  text-align: center;
  font-family: roboto !important;
  padding: 10px 0px ! important;
  margin: 10px 0px !important;
  vertical-align: middle ! important;
}
.navbar-inverse {
    background-color: #fff !important;
    border-color: #fff !important;
    margin-bottom: 0px ! important;
}
.navbar {
    border-radius: 0px !important;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}
.navbar-nav > .active > a:focus  {
  color: green;
}
.navbar-inverse .navbar-nav>.active>a{
	color:rgba(0, 0, 0, 0.66) !important;
  background-color: rgba(0, 0, 0, 0) ! important;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #f35014 ! important;
    background-color: transparent;
}
.navbar-nav > .active > a {
	border-bottom: 1px solid  rgba(0, 0, 0, 0.5) ! important;
}
.navbar-nav>li>.dropdown-menu{
    margin-top: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important; 
  }
  .categories{
    box-shadow: rgb(255, 255, 255) 2px 2px 1px 1px;
  }
.dropdown-menu li:nth-child(even){
    background: red;
}
.navbar-right .dropdown-menu{
    right: 0px; 
    left: 9px;
}
.banner{
	width: 100%;
	height: 600px;
  background: #6a3093;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to right, #a044ff, #6a3093);
  background-image: url(/static/src/images/banner/8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.placeholder{
  position: absolute;
  bottom: 20%;
  left: 92px;
  padding: 20px;
  margin: 20px;
  width: 30%;

}
.placeholder h1 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 50px;
  color: #e95823;
  padding: 10px;
  font-weight: bold;
}
.placeholder p{
  font-family: 'Saira Condensed', sans-serif;
  padding: 10px;
  font-size: 18px;
  color: black;
}
.navbar-inverse .navbar-nav>.open>a{
    background-color: #D8D8D8 !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000 ! important;
    border-radius: 0px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 100;
    font-size: 18px;
}
.slick-dots{
	position: absolute;
	bottom: 0px;
	left:10px;
}

.slick-dots li{
	display: inline-block;
	text-align: center;
	margin:0px 15px;
	border-radius: 50%

}
.features{
	height: 300px !important;
	margin:20px 0px;

}
.main-slider {
	max-height: 768x;
    overflow: hidden;
}
 .btn-default{
    padding: 7px 11px ! important;
    font-size: 13px ! important;
}

/* flip css*/
.hover{
	cursor: pointer;
}
.panel {
    float: left;
    width: 309px;
    height: 100%;
    margin: 0px;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    perspective: 600px;
    background: none !important;
    border-radius: 50% ! important;
    overflow: hidden ! important;
    box-shadow: 20px 6px 20px 0px rgba(0,0,0,.05);
}
.panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .9s ease-in-out;
    transition: all .6s ease-in-out;
    border-radius: 50% ! important;
    overflow: hidden ! important;
}
.panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    -webkit-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .9s ease-in-out;
    transition: all .6s ease-in-out;
    border-radius: 50% ! important;
    overflow: hidden ! important;
}
.panel.flip .front {
    z-index: 900;
    border-color: #eee;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);

    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }
  .panel.flip .back {
    z-index: 1000;
    background: #fff;

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);

    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  }

.pad {
	margin: 90px 20px;
}
/*login form css*/
.form-signin {
  width: 300px;
  margin-top: 20px;
  padding: 15px 35px 34px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 2s;


}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 30px;
  vertical-align: text-bottom;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-radius: 5px;
}
label.checkbox{
    display: inline;
}
/* dropdown css

/* tooltip css*/
.arrow_box:before {
  top: -11%;
  left: 5%;
  border: solid transparent;
  content: " ";
  height: 19px;
  width: 10px;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 13px;
  margin-left: -13px;
} 
.odoo:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background: beige ! important;
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 385px 211px;

}
.odoo-back {
  background:#a24689 ! important;
}

.django-back {
  background:#0C3C26 ! important;
}
#myNavbar {
  font-size: 16px;
  font-family: monospace;

}
.navbar-nav > ul>li, .navbar-nav >li>a, .navbar-nav > li > a > i{
  color: #050404 !important;
}

.content-banner{
    width: 100%;
    height:300px;
    padding: 10px 10px;
    text-align: center;
    background: #B993D6;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    background-image: url(/static/src/images/banner/7.jpg) ! important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
.content-banner h1{
  font-size: 100px;
  font-family: ubuntu;
  font-weight: 600;
}


/*opaque navbar settings*/
.opaque-navbar {
    background-color: rgba(0,0,0,0) !important;
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: #bcb2b2 !important;
    height: 60px !important;
    transition: background-color .5s ease 0s !important;
    color: #ddd !important;
}
@media (max-width: 992px) {
  body
  {
    background-image:url(/static/src/images/back.jpg);
  }
  #myNavbar{
    background: blueviolet;
  }
  .hover{
    left: 20%;
  }
  .navbar-form{
    border-top: none ;
    border-bottom: none ; 
    box-shadow: none ; 
  }
  .navbar-header{
    min-height:66px;
  }
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}
