/*@import url('https://fonts.googleapis.com/css?family=Oswald');*/

body{background-color:#fff;}
/*for first*/
.oswald{font-family: 'Oswald', sans-serif !important;}
.container-wrapper{width: 1133px; max-width: 1133px !important;}
*{outline:0;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}
:after,:before{transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}

.trending-wrapper{overflow: hidden; margin-bottom: 10px;}
.first{width: 25%;margin-right: 5px; display: table-cell; float: left; z-index: 2;}
.first img::after{content: no-close-quote; position: absolute; left: 0; bottom: 0; width: 100%; height: 150px;background-color: red;
    opacity: .8; background-size: 100% 100%; overflow: hidden;}
.first{overflow: hidden; position: relative; padding: 0;}
.first .badge{background-color: #fd4326; border-radius: 2px; position: absolute; left: 26px; top: 19px;}
.first img{width: 100%; height: 350px;}
.first .first-article-details{position: absolute; top: auto; bottom: 0;left: 0; right: 0; padding: 0px 15px;z-index: 2;}
.first .first-article-details h3{font-size: 18px; color: #fff;  letter-spacing: 1px; text-transform: uppercase; font-weight: 700;}
.first .first-article-meta {display: inline-block; width: 100%; padding: 10px 15px; font-size: 12px;}
.first .first-article-meta a{margin: 0 5px; color: #e0fff1;}
/* end for first*/
/* for second*/
.second {overflow: hidden; position: relative; width: 49%; margin-right: 5px;display: table-cell; float: left; z-index: 2;}
.second .badge{background-color: #fd4326; border-radius: 2px; position: absolute; left: 26px; top: 19px;}
.second img{width: 100%; height: 350px;}
.second .second-article-details{position: absolute; top: auto; bottom: 0;left: 0; right: 0; padding: 0px 15px; z-index: 2;}
.second .second-article-details h3{font-size: 23px;color: #fff;  letter-spacing: 1px; text-transform: uppercase; font-weight: 700;}
.second .second-article-meta {display: inline-block; width: 100%; padding: 10px 15px; font-size: 12px;}
.second .second-article-meta a{margin: 0 5px; color: #e0fff1;}
/* end for second*/
/* for third */
.third {overflow: hidden; position: relative; width: 24%; display:table-cell; float: left; z-index: 2;}
.third .badge{background-color: #fd4326; border-radius: 2px; position: absolute; left: 26px; top: 19px;}
.third img{width: 100%; height: 350px;}
.third .third-article-details{position: absolute; top: auto; bottom: 0;left: 0; right: 0; padding: 0px 15px; z-index: 2;}
.third .third-article-details h3{font-size: 18px;color: #fff;  letter-spacing: 1px; text-transform: uppercase; font-weight: 700;}
.third .third-article-meta {display: inline-block; width: 100%; padding: 10px 15px; font-size: 12px;}
.third .third-article-meta a{margin: 0 5px; color: #e0fff1;}
/* end for third*/


/* for left and right-half*/
.box-title {position: relative;}
.left-half{padding: 0; margin-right: 40px; width: 70%; display: table-cell;float: left;} 
.right-half{padding: 0; width: 28%; display: table-cell;}
.box-title h2, .posts-title h2 { display: block;color: #1c1c1c; padding-bottom: 13px; border-bottom: 1px solid #f5f5f5; margin-bottom: 15px;
    text-decoration: none; font-size: 18px;letter-spacing: 1px;text-transform: uppercase; line-height: 1.5; font-family: Dosis; font-weight: 600;
    font-style: normal;margin-top: 20px;}
.box-title h2 a, .posts-title h2 a {color: #1c1c1c; }
.box-title h2:before, .posts-title h2:before {  position: absolute; content: ''; bottom: 0px;  left: 0; width: 36px; height: 3px; background-color: #fd4326;}
.box-content{width: 100%; height: 364px; display: table-cell;}
.box-content ul{height: inherit;}
.box-wrapper{width: 50%; margin-right: 10px; height: inherit; overflow: hidden; float: left;}
.programing .box-thumbnail{position: relative;}
.programing .box-thumbnail:after{content: no-close-quote; position: absolute; left: 0; bottom: 0; width: 100%; height: 151px;background: url(http://3.bp.blogspot.com/-LnvazGBvKh8/VskckSkmzxI/AAAAAAAAC4s/erEgI6A_ih4/s1600-r/metabg.png) repeat-x; opacity: .8;}
.programing .box-thumbnail a{height: 244px; width: 100%; position: relative; display: block;}
.img-overlay{position: absolute;left: 0;top: 0; z-index: 1; width: 100%; height: 100%; background-color: rgba(134, 125, 134, 0);}
.box-wrapper .box-bottom-content{width: 100%; min-height: 101px; background-color: #1c1c1c; position: relative; width: 100%;
    min-height: 110.8px; z-index: 2; padding: 15px;  box-sizing: border-box;}
.box-wrapper .box-bottom-content a h3{margin: 0; color: #fff;}
.recent-date{font-weight: 400; font-style: normal; color: #fff; font-size: 10px; text-transform: uppercase; letter-spacing: 1px;}
.recent-date:before{content: '\f133'; font-family: fontawesome; margin-right: 5px;}
.box-content ul li{display: block;    width: 48.6%;    float: right;    margin: 0 0 10px;    padding: 0 0 10px;}
.list-box-thumbnail { display: table-cell; width: 100px; height: 70px; vertical-align: middle; position: relative;}
.list-box-thumbnail a{display: block; height: 70px;}
.list-box-title{padding-left: 10px; display: table-cell; margin-left: 10px;}
.list-box-title .recent-date{color: #000;}
.list-box-title h4{ font-size: 16px; font-family:Abel; margin-bottom: 5px;}
h1, h2, h3, h4 { margin: 0; position: relative; letter-spacing: 1px; text-transform: uppercase; line-height: 1.5; font-family: Abel;font-weight: 400;font-style: normal;}
.block-image{float: left; display: table-cell; width: 40%;}
.description{display: table-cell;width: 60%; float: right;}
.block-image .thumb a{height:217px; display: block; position: relative;}
.post-wrapper{border-bottom: 1px solid #f5f5f5; margin: 0 0 15px; padding-bottom: 15px;}
.post{width: 100%;position: relative;overflow: hidden;}
.postags {position: absolute;top: 15px; left: 15px; z-index: 3;}
.postags a {background: #fd4326; color: #fff;margin: 0;height: 20px;line-height: 20px; padding: 0 6px; font-size: 12px; border-radius: 2px;}
.post .description{padding-left: 20px;}
.post .description .heading{line-height: 1.2;font-size: 21px;}
.description .description-meta span{color: #bdbdbd; margin:10px 0px; display: block;}
.description-meta >span >  time{border-bottom: 1px dashed;}
a.read-more { display: inline-block; margin-bottom: 0; font-weight: 700; text-align: left; vertical-align: middle;    cursor: pointer;background-image: none; white-space: nowrap;line-height: 25px; height: 25px; color: #fff;background-color: #fd4326; border-radius: 2px; font-size: 11px;  text-transform: uppercase; padding: 0 10px; margin-top: 3px; outline: none;  border: none;  overflow: hidden;}
.blog-pager{margin-bottom: 20px;}
.blog-pager ul li {display: inline-block;}
.page-number{display: block; margin-right: 6px; padding: 0 12px; background: #fff; color: #fd4326; border: 0; border: 1px solid #fd4326; text-transform: uppercase;line-height: 32px; font-weight: 400; border-radius: 2px;}
.page-number a{color: #fd4326 !important;}
.current{background-color: #fd4326;color: #fff;}
.box-column{float: left; width: 48%; margin-right: 10px; margin-bottom: 10px; max-height: 500px; display: table-cell;}
.box-column .box .box-thumbnail{height: 200px; position: relative;}
.box-column .box .box-thumbnail a{height: 200px; display: block; position: relative;}
.box-column .box .box-thumbnail .first-tag {position: absolute; top: 15px; left: 15px; z-index: 2;}
.box-column .box .box-thumbnail .first-tag a {background: #fd4326;color: #fff; height: 20px; line-height: 20px; display: inline-block; padding: 0 6px; font-size: 12px;font-weight: 400;border-radius: 2px;}
.box-column .box .box-column-description .heading{display: block;color: #1c1c1c;font-weight: 700;line-height: 1.2em;margin-bottom: 5px;text-decoration: none; font-size: 19px;letter-spacing: 1px;text-transform: uppercase;font-family: Abel; font-weight: 400;font-style: normal;}
.box-column .box .box-column-description {padding-top: 10px;padding-right: 10px; height:85px;}
.box-column .box .box-column-description .recent-date{color: #867e7f;}
/*ends here*/

/*for sidebar column*/
.widget{margin-bottom: 20px;}
.social .social-box-content ul li{width: 100%; margin-bottom: 10px;}
.social .social-box-content ul li a{ font-size: 10px;text-transform: uppercase;letter-spacing: 2px;text-decoration: none;display: block; color: #fff;padding: 10px 1px 10px 10px; border-radius: 3px;}
.social .social-box-content ul li a i {border-left: 1px solid rgba(255,255,255,.3); line-height: 14px;float: right; width: 35px;height: 14px; line-height: 14px; margin: 0; padding: 0 0 0 10px; font-size: 14px;}
.social .social-box-content ul li a.social-btn-twitter {background: #1da1f2;}
.social .social-box-content ul li a.social-btn-facebook{background: #3b5998;}
.social .social-box-content ul li a.social-btn-youtube{background: #cd201f;}
.social .social-box-content ul li a.social-btn-instagram{background: #405de6;}
.popular-posts-box-content .popular-post-thumbnail{ width: 45%; display: table-cell; float: left;}
.popular-posts-box-content .popular-post-meta {width: 45%; display: table-cell;}
.popular-posts-box-content .popular-post-meta .heading{font-size: 15px; line-height: 1; }
.popular-posts-box-content .popular-post-thumbnail a{width: 120px;height: 70px;display: table-cell; position: relative;}
.popular-posts-box-content .item-content{margin-bottom: 10px; overflow: hidden;}


/*for categories*/
.categories .cat-box ul li {display: block; padding: 8px 0; border-bottom: 1px solid #F5F5F5; position: relative;}
.categories .cat-box ul li:first-child{padding: 0 0 8px;}
.categories .cat-box ul li a{color: #1c1c1c;font-size: 11px; padding-left: 15px; font-weight: 100; text-transform: uppercase;}
.categories .cat-box ul li a:before {content: '\203a'; position: absolute;left: 0; top: 4px;font-size: 22px; color: #1c1c1c;}
.categories .cat-box ul li:first-child a:before {top: -4px;
}
/* sidebar column ends here*/








/*hove effects*/
.first:hover .img-overlay, .second:hover .img-overlay, .third:hover .img-overlay{background: rgba(40,35,40,0.30); cursor: pointer;}
.first:after, .second:after, .third:after{content: no-close-quote; position: absolute;  left: 0;  bottom: 0;  width: 100%; height: 150px; background: url(http://3.bp.blogspot.com/-LnvazGBvKh8/VskckSkmzxI/AAAAAAAAC4s/erEgI6A_ih4/s1600-r/metabg.png) repeat-x;
    opacity: .8;  background-size: 100% 100%; overflow: hidden;}

.box-thumbnail:hover .img-overlay, .list-box-thumbnail:hover .img-overlay, .block-image:hover .img-overlay, .popular-post-thumbnail:hover .img-overlay {background-color:rgba(40,35,40,0.30);}
a:hover h3, a:hover h4, a:hover h5, a:hover h1, h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,a:hover{color: #fd4326 !important;}
a.read-more:hover, .first-tag >a:hover {background: #fff !important ;border: 1px solid #fd4326 !important;}
 .page-number:hover{ background: #fd4326 !important ;}
 .page-number:hover a{color:#fff !important;}