@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Dosis');
@import url('https://fonts.googleapis.com/css?family=Abel|Great+Vibes|Josefin+Slab');
:root {
  --ylw-color: #ff0;
  --rd-color:#b80d0d;
  --wht-color:#ddd;
  --blk-color:#000;
  --ltywl-color:#f6d300;
  --ltblk-color:#282828;
}
  
.white{color:var(--wht-color)}
.large{font-size: 18px;}
.ltylw{color: var(--ltywl-color)}
.container{max-width: 1109px !important;}
.bold{font-weight:bold;}
.center{text-align:center;}
.left{text-align: left;}
.right{text-align:right;}
.float-right{float: right;}
.capitalize{text-transform: uppercase;}
.uppercase{text-transform:uppercase;}
.capitalise{text-transform:capitalize;}
.hidden{display:none;}
.nospace{margin:0; padding:0; list-style:none;}
.block{display:block;}
.inline * {display:inline-block;}
.inline *:last-child{margin-right:0;}
.pushright li{margin-right:20px;}
.pushright li:last-child{margin-right:0;}
.borderedbox{border:1px solid;}
.overlay{position:relative; z-index:1;}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.circle{border-radius:50%; background-clip:padding-box;}
/*font classes*/
.barlow{font-family: 'Barlow Condensed', sans-serif !important;} 
.dosis {font-family: 'Dosis', sans-serif !important;}
.abel{font-family: Abel, sans-serif !important;}
.j_slab{font-family: Josefin Slab, sans-serif !important}
.g_vibes{font-family: Great Vibes, sans-serif !important;}
/* for social share*/
.linkedin{background-color: #0077b5 !important;  cursor: pointer;}
.facebook{ background-color: #3c5a99 !important; cursor: pointer;}
.twitter{background-color: #1da1f2 !important; cursor: pointer;}
.google{background-color: #dd5347 !important;cursor: pointer;}
/* end for social share*/
.fa-twitter:hover{color: #1da1f2 !important; cursor: pointer;}
.fa-facebook:hover{ color: #3c5a99 !important; cursor: pointer;}
.fa-google:hover{color: #dd5347 !important;cursor: pointer;}
.fa-linkedin:hover{color: #0077b5 !important;  cursor: pointer;}
.fa-github:hover{color: #000 !important;  cursor: pointer;}
/* font class ends here*/

.absolute{position: absolute;}
.relative{position: relative;}
.thumbnail{width: 80px;height: 80px;}
.slide{width: 400px; height: 200px; overflow: hidden;}
.justify{text-align: justify;}

/*main style*/

*{padding: 0; box-sizing: border-box;}
body{font-size: 16px; background-color: #EEEEEE;}
p{margin-bottom: 0px;}
a{text-decoration: none !important;}
ul{list-style-type: none;}
.search{margin-top: 12px; margin-bottom: 0px; border-radius: 5px; }
.search .form-control{height: 23px; border-radius:0;}
.main-wrapper{width: 100%; height: 100%; /*background-color: var(--ylw-color);*/ position: relative; overflow: hidden;}
.one-six{}
.navbar{margin-bottom: 0;border: none; border-radius: 0; background: #282828}
.navbar-nav >li:hover > a{background-color: var(--rd-color) !important; color:var(--wht--color) !important;}
.welcome-caption{padding: 20px;background:rgba(58, 56, 56, 0.4);color: var(--ylw-color); bottom: 100px; left:150px;border-radius: 5px;}
.navbar-nav li{margin-right: 5px; }
.navbar-nav li > a{color: var(--ylw-color) !important;}
.navbar-nav li:hover > a{color: var(--wht-color) !important;}
.nav ul li { color: var(--ylw-color);}
.navbar-default .navbar-brand {color:var(--ylw-color);}
.navbar-default .navbar-nav > .active > a{background: var(--rd-color); color:var(--wht-color);}
.container-wrapper{padding: 20px; overflow: hidden;max-width: 1109px;margin: auto;}
/*.image-section{box-shadow:4px 5px 7px 2px rgba(0, 0, 0, 0.5);}*/
.image-section img{width: 100%; height: 500px;}
.main-branding {height: 118px;}


/*second section*/
.second-section .container{height: inherit;  padding-left: 0px;padding-right: 0px;}
.second-section{padding: 50px 0px;/*overflow:hidden; width: 100%; height: 300px; background:url('3.jpeg') center; background-size: contain; padding: 15px; background-attachment: fixed; height:464px; background-blend-mode: hard-light;background-color: darkcyan; padding-top: 70px;*/}
.second-section .sc_left{height:auto; padding: 20px; overflow: hidden; /*border: 1px double var(--ylw-color);border-radius: 5px;*/}
.second-section .sc_right{height: 280px; overflow: hidden;  padding: 20px; /*border: 1px double yellow;*/}
.second-section  .sc_right  p{font-size: 36px; text-align: center;}
.second-section  .sc_right h1{color: #8856a8;}
.second-section .fresh-heading{margin-bottom: 64px;padding-left: 20px;padding-right: 20px; position: relative;}
.second-section .fresh-heading h1{font-size: 40px;font-weight: bold; margin-right: 32px; text-shadow: 1px 1px 0px #73f238;}
.fresh-heading .fresh-leaf {position: absolute;top: -21px; right: 15px;}
/*for card */
.fresh {box-shadow: 0 2px 15px rgba(0, 0, 0, .5);}
.fresh > .cover{height: 180px;border-radius: 2px 2px 0 0; position: relative;}
.fresh > .cover:before{ content: "Article title that is too long";top: 0;left: 0;right: 0;left: 0;opacity: 0.5;color: white;position: absolute;height: inherit;padding: 67px;font-size: 28px;text-shadow: 10px 9px 2px #0a0a0a;}
.fresh> .info{background: #fff; height: 100px; overflow: hidden;border-radius: 0 0 2px 2px;position: relative;}
.fresh > .info > .recipe {display: block;position: absolute;top: 0;left: 0;width: 134px;height: inherit;background: #b80d0d;font-family: sans-serif;font-size: 14px;color: #FFF;text-transform: uppercase;text-decoration: none;text-align: center;border-radius: 0 0 0 2px;}
.fresh > .info > .recipe >i{display: block;margin: 19px 0 15px;}
.fresh > .cover > label{position: absolute;top: 7px;right: -10px;height: 34px;padding: 0px 16px 0 1px;line-height: 33px;vertical-align: middle;font-family: sans-serif;font-size: 13px;text-transform: uppercase;color: #FFF;text-shadow: 0 1px 2px #000;background: #b80d0d; width: 66px; color: var(--ylw-color) /*transform: rotate(270deg);*/}
.fresh > .cover > label::before {content: '';width: 10px;height: 10px;border: 17px solid #b80d0d;border-left: 21px solid transparent;left: -38px;position: absolute;}
.fresh > .cover > label::after {content: '';width: 10px;height: 10px;border-right: 8px solid transparent;border-bottom: 8px solid rgba(136, 86, 168, .6);transform: rotate(90deg);top: 33px;position: absolute; left: 56px;}
.fresh > .info > .content{position: absolute;height: inherit;right: 5px;left: 134px;font-family: sans-serif;width: 47%;font-size: 14px;color: #888; display: inline-block;padding: 5px;}
.content .auth-image{display: inline-block; padding: 5px; position: absolute;}
.content .auth-image img{margin: 0; padding: 0;}
.content .auth-info{padding: 5px; display: inline-block; float: right; right: 57px;position: absolute; height: inherit;padding-top: 11%;}
.rating{display: inline-block; float: right;width: 120px;height: inherit; padding: 10px 10px;}
.rating h1{margin-top: 8px;margin-bottom: 0px; color: var(--rd-color);}
.fresh > .cover > .download {display: block;position: absolute;bottom: 20px;right: 20px;width: 47px;height: 47px;
	background: rgba(51, 193, 210, .6);	border-radius: 100%;}
.fresh > .cover > .download > svg {margin: 12px 10px 0;}
/* end for card*/

/* for match-box*/
/*.sc_right >.match-box{background-color: #ff0; width: calc(97%/3);margin: 0px -2px; margin-bottom: -5px; height: 139px;    display: inline-block;}*/
.catagory-holder >.match-box{border-radius: 5px;overflow: hidden;box-shadow: 3px 3px 3px 2px #ddd;float: left; background-color:#ff0;width: calc(82%/3);margin: 30px 30px;height: 176px;display: inline-block;border-radius: 5px;}
.match-box .cat-wrapper{transition: ease-in-out; transition-duration: 0.6s;width: 100%; height: 100%; padding: 15px; background-repeat: no-repeat;}
.match-box .cat-wrapper:hover {opacity: 0.5;background-blend-mode: luminosity;color: #ddd; cursor: pointer;}
.match-box .cat-wrapper:hover  p{color: var(--blk-color);}
.cat-name{font-size: 25px;color: #b80d0d;text-shadow: 1px 1px 1px #ed1515cc;}
.more {padding-left: 20px; padding-right: 20px;}
/*endfor match-box */
/* second section ends here*/

/*third section starts here*/
.third-section{height: inherit; padding: 50px 0px;/*overflow:hidden; width: 100%; height: 300px; background:url('3.jpeg') center; background-size: contain; padding: 15px; background-attachment: fixed; height:464px; background-blend-mode: hard-light;background-color: darkcyan; padding-top: 70px;*/}
.third-section .container {height: inherit;  padding-left: 20px;padding-right: 20px;}
.third-section .article-wrapper{overflow: hidden; padding: 20px;}



/*foooooooter section*/
footer{background: var(--ltblk-color); height: 350px;}
footer .container{max-width: 1109px;}
footer address{width: 170px;display: inline-block;}
footer .container .footer-left{padding: 20px; color: #ddd;}
footer .container .footer-middle{padding: 20px; color: #ddd;}
footer .container .footer-right{padding: 20px;}
footer .container .footer-right .form-inline{padding: 10px;}
footer .footer-right > ul >li{width: 46px;height: 46px; display: inline-block; margin-left: 10px;padding: 5px 12px;font-size: 25px;border: 1px dashed #f6d300;
    border-radius: 5px}
footer .container .footer-right h3 {font-size: 20px;padding: 0 10px; color: var(--ltywl-color);}
.footer-right .form-inline .form-control:focus, .btn:focus{border-color: var(--ltywl-color); box-shadow: inset 0 1px 1px var(--ltywl-color), 0 0 8px var(--ltywl-color);}
.footer-right .form-inline .btn-primary{background-color: var(--ltywl-color); color: var(--blk-color);border-color: var(--ltywl-color);}
.footer-right .form-inline input, .btn {border-radius: 0;}
.footer-right .btn .fa {color: #000;}
.footer-right .fa {color: #ddd;}
.copyright{background: #000; color:var(--ylw-color); clear: both;}
.footer-links{}
.footer-links li{padding: 5px; color: #ddd; display: inline-block;}
.terms-use {margin-top:20px; padding-left: 10px;}
.terms-use ul li{display: inline-block; margin-right: 10px;}


/*header profile notifications and profile dropdown */
.notification_badge{position: absolute;}
#live_notify_badge{top: 5px; position: absolute; right: 4px;background: #8856a8; padding: 0 5px; border-radius: 50%; color: #fff; font-size: 14px;}
#live_notify_list {background: #282828; padding: 5px; left: -450px; top: 110%;}
#live_notify_list:before{content: ''; position: inherit;top: -11px; right: 17px; border: 5px solid transparent; border-bottom: 5px solid #ff0;}
#live_notify_list  li{color: #fff; padding: 2px; margin-bottom:5px; border-bottom: 1px solid #ddd; }
.navbar-default .navbar-nav>.open>a {background: #282828 !important;}
.profile-li{position: relative; margin:5px;border-radius: 5px; padding: 8px 0px;}
.profile-li a{padding: 0 !important;}
.profile-dropdown {background: #282828; padding: 10px; left: -133px; top: 124%;}
.profile-dropdown:before{content: ''; position: inherit;top: -12px; right: 8px; border: 5px solid transparent; border-bottom: 5px solid #ff0;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{color: #fff; background-color:unset; }
.profile-dropdown li {padding: 5px 0;}

/* end of notifications and profile dropdown*/