<div class="container">
  <nav class="navbar navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand dosis">
          <span class="left">Life</span>
          <span class="right lobster">inaBits</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right roboto-thin">
          <li id="home">
            <a (click)="onClick($event)" [routerLink]="['/']">Home</a>
          </li>
          <li id="blog">
            <a  (click)="onClick($event)" [routerLink]="['/articles']" >Blog</a>
          </li>
          <li id="writer">
            <a (click)="onClick($event)" [routerLink]="['/write_new']">Write</a>
          </li>
          <li id="aboutme">
            <a href="#">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>