<div class="container grow" [class.fixed_navbar]="navIsFixed" [@navAnimation] = "state">
  <nav class="navbar navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand dosis">
          <span class="left">Life</span>
          <span class="right lobster">inaBits</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right roboto-thin">  
          <li class="hvr-underline-from-left" [ngClass]="{active : _gvars.context == 'home' }" id="home">
            <a [routerLink]="['/']">Home</a>
          </li>
          <li class="hvr-underline-from-left" id="blog" [ngClass]="{active :_gvars.context == 'blog'}">
            <a  [routerLink]="['/articles']" >Blog</a>
          </li>
          <li class="hvr-underline-from-left" id="writer" [ngClass]="{active : _gvars.context == 'writer'}">
            <a  [routerLink]="['/write_new']">Write</a>
          </li>
          <li class="hvr-underline-from-left" id="login" *ngIf="!_gvars.isLoggedIn" [ngClass]="{active : _gvars.context == 'login'}">
            <a  [routerLink]="['/auth/login']">Login</a>
          </li>
          <li *ngIf="_gvars.isLoggedIn">
              <a  class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">{{username}} <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <a class="hvr-bounce-to-right" [routerLink]="['/user/profile/', user]">Profile</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a class="hvr-bounce-to-right" (click)="logOut()">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>