{% extends "../base.html" %}


 {% block main_slider %}
    {% load static %}
    <div class="banner"><img src="{% static '/src/images/1.JPG' %}"/></div>
    <div class="banner"><img src="{% static '/src/images/2.JPG' %}"/></div>
    <div class="banner"><img src="{% static '/src/images/3.JPG' %}"/></div>
    <div class="banner"><img src="{% static '/src/images/4.JPG' %}"/></div>
    <div class="banner"><img src="{% static '/src/images/5.JPG' %}"/></div>
    <div class="banner"><img src="{% static '/src/images/6.JPG' %}"/></div>
    <div class="banner"><img src="{% static '/src/images/7.JPG' %}"/></div>
    <div class="banner"><img src="{% static '/src/images/8.JPG' %}"/></div>
    <div class="banner"><img src="{% static '/src/images/9.JPG' %}"/></div>
 {% endblock %}