<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>bootstrap</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<style type="text/css">
			.primestrip:nth-child(odd){
				background:yellow;
				height: 200px;
				border: 1px dashed black;

			}
			.primestrip:nth-child(even){
				background:lime;
				height: 200px;
				border: 1px dashed black;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron"><h1>grid demonstrations</h1></div>
			<div class="row">
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
				<div class="col-md-1 primestrip"></div>
			</div>
			<div class="row">
				<div class="col-md-8" style="background:tomato; border: 1px dashed black; height: 200px">
					<div class="col-md-4 primestrip">
						<div class="col-md-4 primestrip"></div>
						<div class="col-md-4 primestrip"></div>
						<div class="col-md-4 primestrip"></div>
					</div>
					<div class="col-md-4 primestrip">
						<div class="col-md-4 primestrip"></div>
						<div class="col-md-4 primestrip"></div>
						<div class="col-md-4 primestrip"></div>
					</div>
					<div class="col-md-4 primestrip">
						<div class="col-md-4 primestrip"></div>
						<div class="col-md-4 primestrip"></div>
						<div class="col-md-4 primestrip"></div>
					</div>
					
				</div>
				<div class="col-md-4" style="background:beige; border: 1px dashed black; height: 200px">
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
					<div class="col-md-1 primestrip"></div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>