{% extends '../base.html' %}

{% block content%}
  <div class="wrapper content">
    <form method="post" action="" enctype="multipart/form-data">
       {% csrf_token %}
    <!-- <div class="upper" style="background-image: url({{request.user.userprofile.cover_photo.url}})">
      <a class="btn btn-xs editore" href="{% url 'profile' profile_id=request.user.id %}?edit=true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      <div class="portrait">
          <div class="img-holder">
             <label for="id_profile_picture">
                <img src="{{request.user.userprofile.profile_picture.url}}"/>
              </label>
              {{form.profile_picture}}
          </div>
      </div>
      <div class="user-info">
        <h1>{{user.firstname}}{{use}}</h1>
        <h3>{{request.user.userprofile.short_intro}} </h3>
      </div>
    </div>
    <div class="lower">
      <div class="activity-info">
      <div class="activity">
       <i class="fa fa-users" aria-hidden="true"></i>
        {{articles_written}}
      </div>
       <div class="activity">
        <i class="fa fa-book" aria-hidden="true"></i> Reads
        {{articles_written}}
      </div>
       <div class="activity">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <span>Articles Written </span> {{articles_written}}
      </div>
    </div>
    <div class="about-me-info">
      <div class="about-me">
          {{request.user.userprofile.about_me}}
      </div>
    </div>
    </div>
    </div>
    <div class="clear"></div> -->
    {{form.as_p}}
    <input type="submit" name="Save" value="submit">
  </form>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'src/css/registration/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'src/css/bootstrap.min.css' %}">
<style type="text/css">
  label{width: inherit;height: inherit;}
</style>
{% endblock %}