{% extends '../base.html' %}
	
{% block content%}
  <div class="wrapper content container">
    <div class="form-container">
    <form method="post" action="" enctype="multipart/form-data">
       {% csrf_token %}
       		{% if form.non_field_errors %}
			    <ul>
			      {% for error in form.non_field_errors %}
			        <li>{{ error }}</li>
			      {% endfor %}
			    </ul>
		  	{% endif %}
	{% for field in form %}
      {% if field.name == 'profile_picture' %}
          <li>
            <a href="">
              {% load static%}
              <img src="{% static field.url %}" alt="{{ filed.name }}">
              
            {% load pdb_debug %}
            {% pdb %}
              {{field}}
            </a>
        </li>
      {% else %}
		  <div class="col-md-12 row" id="{{ field.auto_id }}_container">
		    {{ field.help_text }}
		    <div class="col-md-2 left">
		      {{ field.label_tag }}
		    </div>
		    <div class="col-md-10 right" id="{{ field.auto_id }}">
		     {{ field }}
		    </div>
		    <div class="error col-md-12"><span>
		      {{ field.errors }}
		    </span></div>
		  </div>
      {% endif %}
  	{% endfor %}
  	<div class="col-md-12 submit">
    <input class="btn btn-primary" type="submit" name="Save" value="submit">
  	</div>
  	</form>
	</div>
</div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'src/css/registration/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'src/css/bootstrap.min.css' %}">
<style type="text/css">
  
  .wrapper {
    margin-bottom: 24px;
  }
  .btn{
      min-width: 200px;
  }
  label{
    width: auto;
    height: auto;
  }
  .form-container{
  	max-width: 890px;
    margin: 56px auto;
  }
  .left{
  	float: left;
  	display: inline-block;
  }
  .right{
  	float: right;
  	display: inline-block;
  }
  #id_birth_date select{
  	max-width: 100px;
  	display: inline-block;
  }
  .row{
  	padding: 10px;
    margin: 10px;
  }
  .submit {
  	text-align: center;
  }
</style>
{% endblock %}