{% extends 'base.html' %}
{% block container %}
  <div class="profile_update_wrapper container">
    <div class="left_part">
    <form method="post" action="" enctype="multipart/form-data">
       {% csrf_token %}
       		{% if form.non_field_errors %}
			    <ul>
			      {% for error in form.non_field_errors %}
			        <li>{{ error }}</li>
			      {% endfor %}
			    </ul>
		  	{% endif %}
	{% for field in form %}
		  <div class="row" id="{{ field.auto_id }}_container">
		    {{ field.help_text }}
		    <div>
		      {{ field.label_tag }}
		    </div>
		    <div class=" " id="{{ field.auto_id }}_div">
		     {{ field }}
		    </div>
		    <div class="error"><span>
		      {{ field.errors }}
		    </span></div>
		  </div>
  	{% endfor %}
  	<div class="submit">
    <input class="btn btn-primary" type="submit" name="Save" value="submit">
  	</div>
  	</form>
	</div>
  <div class="right_part">

  </div>
</div>
{% load static %}
<style type="text/css">
    .row{padding: 15px;}
    .profile_update_wrapper{display: flex; flex-basis:100%; flex-direction: row;}
    .left_part{width: 50%; margin: 20px;}
    .right_part{width: 40%; margin: 20px;}
</style>
{% endblock %}