/* login css */
body{background-color: #f7f8fa;}
.form-group label, input{font-size: 17px; font-weight: normal;}
.form-wrapper{max-width: 520px; overflow: hidden; margin: auto; padding:59px 93px;}
.login-form{border: 1px solid #d8dee2; padding: 25px; border-radius: 5px; margin-bottom: 10px;  background-color: #fff;}
.login-group >.btn{font-size: 17px;}
.register-link{border: 1px solid #d8dee2; padding: 15px 20px;border-radius: 5px; margin-bottom: 10px; background-color: #fff;}
.social-group > ul{display: flex; flex-basis: 100%; flex-direction: row;}
.social-group > ul > li{ width: calc(100%/3); margin-left: 10px;padding: 5px 12px; font-size: 25px;}
.social-group > ul > li > a {color: #fff;}
