
body{background-color: #f7f8fa;}
*:focus{outline: none!important;}
label{font-family: Roboto;font-weight: 300;}
.signup-container{    max-width: 370px !important;}
#login-page{border-radius: 4px; position:relative; margin: 0 auto; padding: 20px; border:1px solid #ededed; background-color: #fff; padding-bottom: 0;}
.form-control {box-shadow: none!important;}
.intro {background: #fff; padding: 10px; margin: 1px 0; border: 1px solid #ededed;}
.sign-up{ border: 1px solid var(--ltywl-color); border-radius: 2em; width: 100px; background-color: var(--ltywl-color)}
.agreement-with-sign-up{background: #fff; padding: 10px; margin: 5px 0; border: 1px solid #ededed; font-size: 12px;}
.sign-up:hover{border:1px solid #f7b800;
 background-color: #ffc92b; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc92b), to(#ce9a01));
 background-image: -webkit-linear-gradient(top, #ffc92b, #ce9a01);
 background-image: -moz-linear-gradient(top, #ffc92b, #ce9a01);
 background-image: -ms-linear-gradient(top, #ffc92b, #ce9a01);
 background-image: -o-linear-gradient(top, #ffc92b, #ce9a01);
 background-image: linear-gradient(to bottom, #ffc92b, #ce9a01);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc92b, endColorstr=#ce9a01);
}
