<!DOCTYPE html>
<html>
<head>

    <title>
        {% block title %} lifeinabits {% endblock %}
    </title>
    {% block http-meta %}
    <!--block for defining the meta classes in the html page for search engine optimization-->
        <meta charset="UTF-8">
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/boot.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/main.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'src/css/awesome.css'%}"/>
    {% block links %}
        <!--empty block to add any links further required in dev-->
    {% endblock %}

    <script src="{% static 'src/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'src/js/boot.js' %}"></script>
    {% block scripts %}
        <!--empty block of adding further links in the page-->
    {% endblock %}

</head>
<body>
	<div class="main-wrapper">
        {% block branding %}
        <!--for main branding    -->
            {% include 'main_branding.html' %}
        {% endblock %}

        <!-- for main navigation menu  -->
        {% block navigation %}
            {%  include  'navigation.html' %}
        <!--main content   -->
        {% endblock %}
        {% block container %}{% endblock  %}

    </div>
        {% block footer %}
            {% include  'footer.html' %}
        {% endblock %}
    <!--other scripts for loading in to the body  html-->

</body>
</html>