<footer>
    <div class="container">
        <div class="footer-left col-md-4">
            <h3 class="abel ltylw">Contact Us</h3>
            <address class="abel">"Bhagavati", plot No-53,shivamnagar society,opp new police station, kalavad PIN-361160 </address>
            <p><strong><i class="fa fa-envelope-o ltylw" aria-hidden="true"></i> </strong> kamanipankaj9099@gmail.com</p>
            <br>
            <p><strong><i class="ltylw fa fa-phone" aria-hidden="true"></i> </strong> +91 966-2766-166</p>
            <br>
        </div>
        <div class="footer-middle col-md-4">
            <h3 class="abel ltylw">LifeInaBits</h3>
            <p class="justify abel">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
            </p>
        </div>
        <div class="footer-right subscribe col-md-4">
            <h3 class="abel">Subscribe</h3>
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary"> <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    Send</button>
            </form>
            <h3 class="abel ltylw">Or Like us</h3>
            <ul class="social-share">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        <div class="terms-use">
            <ul class="abel">
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Disclaimer</a></li>
            </ul>
        </div>
        </div>
        <ul class="footer-links dosis center col-md-12">
                <li>Home</li>
                <li>Write for us</li>
                <li>About me</li>
                <li>Developer</li>
            </ul>
    </div>
</footer>
<div class="center copyright">
    <p class="barlow">CopyRight  <i class="fa fa-at" aria-hidden="true"></i>2017 LifeInaBits.com Propietary licensed</p>
</div>