<header class="animated">
<nav id='cssmenu'>
<div class="logo"><a href="index.html">LifeInaBits</a></div>
<div id="head-mobile"></div>
<div class="button"></div>
<ul>
<li class='active'><a href="{% url 'homepage' %}">HOME</a></li>
<li><a href='/blog/'>BLOG</a></li>
<li><a href='#'>CATAGORY</a>
   <ul>
      <li><a href='#'>Programing</a>
         <ul>
            <li><a href='#'>Programing</a></li>
            <li><a href='#'>Science</a></li>
         </ul>
      </li>
      <li><a href='#'>Medicine</a>
         <ul>
            <li><a href='#'>Sub Product</a></li>
            <li><a href='#'>Sub Product</a></li>
         </ul>
      </li>
   </ul>
</li>
<li><a href='/blog/article_submitt'>Write For Us</a></li>
<li><a href='about_us/'>About us</a></li>
{% if user.is_authenticated %}
<li><a href='#'>{{user.get_full_name}}</a>
  {% load static %}
  <ul class="profile-ul">
  <li style="height: 69px;" class="profile-image"><a><img width=40 height=40 src="{{user.userprofile.profile_picture.url}}"> Welcome !</a>
  <li><a href="/profile/{{user.id}}"><i class="fa fa-user" aria-hidden="true"></i> {{user.get_full_name}} </a></li>
  <li><a href="/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
  </ul>
</li>
{% else %}
<li class="li-fancy"><a class="fancy-button" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
<li class="li-fancy"><a class="fancy-button" href="/sign-up"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
{% endif %}
</ul>
</nav>
</header>