<nav class="navbar navbar-default fixme">
    <div class="container">
        <ul class="nav navbar-nav dosis">
          <li class="home_li {% if active_page == 'home' %} active {% endif %}"><a href="/">Home</a></li>
          <li class="blog_li {% if active_page == 'blog' %} active {% endif %}"><a href="/blog/">Blog</a></li>
          <li class="writer_li {% if active_page == 'writer' %} active {% endif %}"><a href="/blog/article_submit/">Become a Writter</a></li>
          <li class="about_li {% if active_page == 'about_me' %} active {% endif %}"><a href="#">About me</a></li>
        </ul>
        <ul class="nav navbar-nav float-right">

          {% if user.is_authenticated %}
            {% load static %}
              <li class="notifications">
                  <a id="notifications"  data-url="{% url 'notifications:live_unread_notification_list' %}" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#!" >
                      <i class="fa fa-bell" aria-hidden="true" ></i>
                      <span id="notification_badge" class="badge notification_badge" data-url="{% url 'notifications:live_unread_notification_count' %}"></span>
                  </a>
                <ul id="notification_board" class="abel dropdown-menu">
                    <li>No notifications yet</li>
                </ul>
              </li>
              <li class="abel profile-li">
                  <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#!" >
                      <img width="25" height="25" src="{{user.userprofile.get_profile_image}}">
                  </a>
                  <ul class=" abel dropdown-menu profile-dropdown"style="text-align: center;">
                      <li><a href="#!" ><img width="25" height="25" src="{{user.userprofile.get_profile_image}}"></a></li>
                      <li><a href="/profile/{{user.id}}"><i class="fa fa-user" aria-hidden="true"></i> {{user.get_full_name}} </a></li>
                      <li><a href="/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
                  </ul>
              </li>
          {% else %}
              <li><a href="https://www.facebook.com/LifeBits-120274515294153"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://plus.google.com/u/0/+Pankajkamani"><i class="fa fa-google" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/MonsterKp1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
              <li><a class="dosis" href="/login/"><i class="fa fa-sign-in fa-1x" aria-hidden="true"></i></a></li>
            {% endif %}
        </ul>
  </div>
</nav>
