<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav dosis">
          <li class="home_li topBotomBordersIn"><a class="lobster" style="font-size: 25px;" href="/">Life-In-a-Bits</a></li>
          <li class="blog_li topBotomBordersIn"><a href="/blog/">Blog</a></li>
          <li class="writer_li topBotomBordersIn"><a href="{% url 'article_submit' %}">Become a Writer</a></li>
          <li class="about_li topBotomBordersIn"><a href="/about_me/">About me</a></li>
        </ul>
        <ul class="nav navbar-nav float-right">

          {% if user.is_authenticated %}
            {% load static %}
              <li class="notifications">
                  <a id="notifications"  data-url="{% url 'notifications:live_unread_notification_list' %}" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#!" >
                      <i class="fa fa-bell" aria-hidden="true" ></i>
                      <span id="notification_badge" class="badge notification_badge" data-url="{% url 'notifications:live_unread_notification_count' %}"></span>
                  </a>
                <div id="notification_board" class="abel dropdown-menu">
                   <div class="header">
                        <a class="float-left" href="/notifications/">Notifications</a>
                        <a class="float-right" href="#">Mark all as read</a>
                   </div>
                    <div class="body text-center"></div>
                    <div class="footer">
                    </div>
                </div>
              </li>
              <li class="profile-li">
                  <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#" >
                      <img width="25" height="25" src="{{user.userprofile.get_profile_image}}">
                  </a>
                  <ul class="abel dropdown-menu profile-dropdown">
                      <li><a href="/profile/{{user.id}}"><i class="fa fa-user" aria-hidden="true"></i> {{user.userprofile.get_display_name}} </a></li>
                      <li><a href="/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
                  </ul>
              </li>
          {% else %}

              <li><a href="https://www.facebook.com/LifeBits-120274515294153"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://plus.google.com/u/0/+Pankajkamani"><i class="fa fa-google" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/MonsterKp1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
              <li><a class="login-button dosis" href="/login/">Log In</a></li>
              <li><a class="sign-up-button dosis" href="{% url 'sign-up' %}">Sign up</a></li>
          {% endif %}
        </ul>
  </div>
</nav>
