
{% load  static %}
<link rel="stylesheet" type="text/css" href="{% static 'src/css/misc/social.css'%}">
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <a href="https://www.facebook.com/LifeBits-120274515294153" target="_blank">
                <img src="{% static 'src/images/facebook-circle.png'%}" width="32" height="32">
                </a>
        </li>
        <li>
            <a href="https://twitter.com/kp9099" target="_blank">
                <img src="{% static 'src/images/twitter-circle.png' %}" width="32" height="32">
            </a>
        </li>
        <li>
            <img src="{% static 'src/images/gplus-circle.png' %}" width="32" height="32">
            <a href="https://plus.google.com/codexworld" target="_blank">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/codexworld" target="_blank">
                <img src="{% static 'src/images/linkedin-circle.png' %}" width="32" height="32">
            </a>
        </li>
        <li>
            <a href="http://www.youtube.com/codexworld" target="_blank">
                <img src="{% static 'src/images/youtube-circle.png' %}" width="32" height="32">
            </a>
        </li>
        <li>
            <a href="https://www.pinterest.com/codexworld" target="_blank">
                <img src="{% static 'src/images/pin-circle.png' %}" width="32" height="32">
            </a>
        </li>
    </ul>
</div>
