
<div class="container">
    <div class="container-fluid">
        <h2 class="title"></h2>
        <div class="card-container">
            <div *ngFor="let article of article_list; let i = index" class="blog-card" [attr.data-index]="i">
                <div class="meta">
                    <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
                    <ul class="details">
                        <li class="author">
                            <a href="#"></a>
                        </li>
                        <li class="date">{{article.created | date }}</li>
                        <li class="tags">
                            <ul>
                                <li *ngFor="let tag of article.article_tags"> 
                                    <app-tag *ngIf="tag" [tagid]="tag"></app-tag>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="description">
                    <h1>{{article.article_title| slice:0:30}}</h1>
                    <h2 [innerHTML]="article.short_description |  slice:0:20"></h2>
                    <p [innerHTML]="article.article_content | slice:0:80"></p>
                    <app-like-component [objectid]="article.id" *ngIf="article.id"><i class="fa fa-thumbs-up"></i></app-like-component>
                    <p class="read-more">
                        <a routerLink='/article/{{article.id}}'>Read More</a>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>