<form class="form-style-7">
	<div class="editor-container">
		<h2 class="title text-center">Write your thoughts here ... </h2>
		<div class="editor-wrapper">
				<div class="side-bar">
					<ul>
						<li>
						    <label for="name">Title</label>
						    <input type="text" name="name" maxlength="100">
						    <span>Suitable and relavant title</span>
						</li>
						<li>
						    <label for="email">Tags</label>
						    <input type="email" name="email" maxlength="100">
						    <span>Enter keywords here </span>
						</li>
						<li>
						    <label for="url">Image</label>
						    <input type="file" name="url" maxlength="100">
						    <span>Your article poster (500*500)</span>
						</li>
						<li>
						    <label for="bio">Category</label>
						    <select name="bio" onkeyup="adjust_textarea(this)"></select>
						    <span>Specify category your article belongs to</span>
						</li>
					</ul>
				</div>
				<div class="main-editor">
					<ul>
						<li>
							<label for="editordata">Content</label>
							<div [froalaEditor] [(froalaModel)]="editorContent"></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row submit-footer">
				<button class="btn btn-primary">Draft</button>
				<button class="btn btn-primary">Submit</button>
			</div>
	</div>
</form>
