.carousel-inner, .carousel,.slide{z-index: -9;}
.carousel-inner > .item,  .carousel-inner > .item > img {height: 565px; width: 100%;}
.carousel-caption {position: absolute; left: 20%; top: 20%; bottom: auto; right: auto;}
.jumbo-heading {font-size: 120px;}
.caption-btn a{z-index: 6;color: rgb(255, 255, 255);background-color: rgb(0, 104, 92);border-color: rgb(0, 0, 0);
	border-width: 0px;outline: none;box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;	box-sizing: border-box;cursor: pointer;
	text-align: left;line-height: 59px;margin: 0px;margin-right: 0px;	margin-right: 0px;padding: 0px 50px;letter-spacing: 2px;
	font-weight: 900;font-size: 14px;float: left;text-transform: uppercase;	margin-right: 20px;height: 60px;
	border-radius: 0 !important;font-family: roboto;font-weight: 700;}
.btn-success:hover {color: #000; background-color: #fff;	border-color: #000;	border-bottom: 2px solid #000;}
.projects-row, .pager-row,.search-row, .recent-row{margin: 76px auto; max-width: 80%;}
.profile-row{
	background: url('assets/test2.jpg');
	width: 100%;
}
.middle-profile{margin: 76px auto;
	max-width: 80%;}
.profile-widget .profile{
	max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;}
.profile{display: flex;align-items: center;justify-content: space-around;}
.profile-picture{width: 35%;}
.profile-datablock{width: 50%;align-self: flex-start;}
.profile-datablock h1{font-size: 50px;}
.profile-data a{font-size: 40px; text-decoration: none;color: #4449;}
.profile-text{
	font-size: 20px;
	text-align: justify;
	word-break: break-all;
}
.profile-link{ float: right; font-size: 19px; text-decoration: none; font-weight: bold;}
.profile-link:after{content: ' \2192';}
.projects h1{text-align: center; margin: 20px; margin-bottom: 40px;}
.projects h1:before, .projects h1:after{background-color: #b22222;content: "";display: inline-block;height: 3px;position: relative;vertical-align: middle;width: 22%;}
.projects h1:before{margin-right: 0.5em;}
.projects h1:after{margin-left: 0.5em;}


.blog-grid{display: flex;align-items: flex-start; justify-content: space-between;flex-wrap: wrap;}
.card-wrapper {overflow: hidden; position: relative; min-height: 300px; min-width: 300px;margin: 10px;}
.photo-card{position: absolute;z-index: -1; }
.photo-card a {display: block; width: 100%; height: 100%;}
.description-card{width: 300px; padding: 40px;    padding-bottom: 40px;padding-bottom: 40px;padding-bottom: 0;height: auto;position: absolute;}

.info{ color:#fff; opacity: 0;transition-delay: 0.2s;transition-duration: 0.2s;transform: translateY(100%);-webkit-transform: translateY(100%);-webkit-transition: all 300ms ease-out;-moz-transition: all 300ms ease-out;-o-transition: all 300ms ease-out;-ms-transition: all 300ms ease-out;transition: all 300ms ease-out;}

.card-wrapper:hover .info{opacity: 1;transform: translateX(0px);-webkit-transform: translateX(0px);transition-delay: 0.2s;transition-duration: 0.2s;-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;-o-transition: all 300ms ease-out;-ms-transition: all 300ms ease-out;transition: all 300ms ease-out;
}
.info date {color: #484848; font-size: 14px; background: #fff; padding: 2px 10px; margin-bottom: 20px;}
.info h2{font-size: 30px; font-weight: bold;}
.info p {line-height: 1.2; letter-spacing: 1px;text-align: justify; letter-spacing: 1.5px;}
.card-wrapper:hover .overlay-bg {background: rgba(0, 0, 0, 0.55);}
.overlay-bg { bottom: 0;    content: "";    display: block;    height: 100%;    width: 100%;    position: absolute;    z-index: 0;    opacity: 1;    -webkit-transition: all 300ms ease-out;    -moz-transition: all 300ms ease-out;    -o-transition: all 300ms ease-out;    -ms-transition: all 300ms ease-out;    transition: all 300ms ease-out;}
.search-form {display: flex;}
.search-form input{height: 50px !important; width: 80% !important; margin-right: -7px; border-radius: 0 !important;-webkit-box-shadow: none !important; box-shadow: none !important;}
.search-form button { font-size: 24px; font-weight: bold; font-family: 'Roboto' sans-serif; min-width: 20%; border-radius: 0 !important; box-shadow: none ! important; height: 50px !important;}
.search-row h2, .recent-row h2{
	font-weight: 400;
    margin: 40px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-transform: uppercase;}
.search-row{
	background: url('assets/test2.jpg');
	padding: 76px;
	width: 100%;
    margin: 0px;
    max-width: 100%;
}
/*recent row */
.recent-box{
	align-items: flex-start; 
	margin: 10px 0px; 
	display: flex;
	flex-direction: row;
	justify-content: start;
	display: inline-block;
    border: 1px solid #7070724a;
	margin: 10px 30px;
	width: 250px;
	
	border: 1px solid #cec6c6;
	border-bottom: 2px solid #38c3b4;
    border-radius: 3px;
}
.recent-box:hover{
	box-shadow: 3px 3px 40px 0px #c8c6c6;
}
.recent-box .recent-right{height: 100px;padding:10px;margin: 0px; overflow: hidden;}
.recent-box .recent-left  img {width: 100%; height: 200px;;}
.recent-box .recent-right  a{
	font-size:18px; 
	text-decoration: none; 
	color: #484848;
	text-transform: capitalize;
	font-family: Roboto;
}
.recent-box .recent-right  a:hover{color: #31bbab;}
.recent-right {margin: 0;}

:host ::ng-deep .content p {
	color: #c0c2c2 !important;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-align: justify;
    word-break: break-all;}
.recent-wrap {
	display: flex;
    flex-basis: 100%;
    flex-direction: row;
	align-items: baseline;
	flex-wrap: wrap;
    justify-content: center;
}
.search-wrapper{
	margin: 0px auto 58px auto;
    width: 50%;
}
._article-meta{
	text-align: right;
    padding: 5px 10px 0px 10px;
    display: flex;
    justify-content: flex-end;
	align-items: baseline;
	flex-wrap: wrap-reverse
}
.att-wrapper{
	display: flex;
    align-items: baseline;
    min-width: 40px;
	justify-content: space-evenly;
	
}
.att-wrapper > i {color: #40cabc;}
.att-wrapper > span {color: #999; font-family: 'Poiret One', cursive;}





@media screen and (min-width: 320px) and (max-width: 480px){
	
	.projects-row, .pager-row, .recent-row{margin: 30px auto; max-width: 80%;}
	.middle-profile{margin: 9px auto;}
	.profile-row{    
		margin-right: 0px;
		margin-left: 0px;}
	.profile-picture {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	.profile{
		flex-wrap: wrap
	}
	.profile-datablock {
		width: 100%;
		justify-content: center;
	}
	.profile-datablock h1 {
		width: 100%;
		text-align: center;
		font-size: 27px;
		font-family: 'Raleway';
		font-weight: bold;
	}
	.profile-data{
		text-align: center;
	}
	.profile-picture img{width: 100% !important;}
	.navbar-nav  li{display: block !important;}
	.carousel-inner > .item {height: 250px !important;}
	.jumbo-heading{
		font-size: 70px;
	}
	.carousel-caption{
		text-align: center;
		left: 20%;
		left: 20%;
    	top: 20%;
    	bottom: auto;
		right: 15%;}
	.carousel-caption p{text-align: center;}
	.jumbo-heading{font-size: 40px !important}
	.caption-btn a{display: none;}
	.projects >h1{font-family: Raleway !important;}
	.projects h1:before, .projects h1:after{
		width: 25px !important;
		margin: 5px;
		}
	.card-wrapper{
		margin: auto !important;
		margin-top: 10px;
		margin-bottom: 10px;
		min-height: 246px;
		min-width: 246px;
}
	.photo-card > a > img{
		margin: 0 auto; 
        width:100% ;
        max-height:100%;
        height:auto ;
		max-width:100%;
		
	}
	.description-card{
		width: 246px;
		padding: 15px;
	    bottom: 110px !important;
	}
	.info > h2 {
		font-size: 20px;
    	font-weight: unset;
    	font-family: Barlow;
    	color: darkorange;
	}
	.info >p {
		letter-spacing: 0.8px;
    font-family: Dosis;
	}
	.search-box .search-row{
		padding: 0 !important;
	}
	.search-wrapper{
		width: 100%;
	}
	.search-form  button{
		width: 25%;
	}
	.recent-box .recent-right  a{
		margin: 0;
    	height: auto;
		max-height: 87px;
		font-size: 18px !important;
    	font-family: Roboto;
	}
}
/* Smartphones (portrait) ---------- */
@media screen and (max-width: 320px){
    /* styles */
}
/* Smartphones (landscape) ---------- */
@media screen and (min-width: 321px){
    /* styles */
}
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* styles */
}
/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 768px){
    /* styles */
}
/* Tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px){
    /* styles */
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
    /* styles */
}
/* Large screens ---------- */
@media screen and (min-width: 1824px){
    /* styles */
}