{{diagnostic}}

<div class="container">
    <h1>Hero Form</h1>
    <form #loginForm="ngForm"  (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Name</label>
            <input type="email" id="emailid" name="email"  [(ngModel)]="loginModel.emailid" class="form-control" required                   #emailid="ngModel"/>
            <div [hidden]="emailid.valid || emailid.pristine" class="alert alert-danger"></div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="loginModel.password" class="form-control"
                id="password" required  #password="ngModel"/>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger"></div>
        </div>
        <button  type="submit" class="btn btn-success">Submit</button>
    </form>
</div>